/* line 2, ../../scss/detail/detail.scss */
.guest-detail .ly-l-c {
  padding: 25px;
}
/* line 4, ../../scss/detail/detail.scss */
.guest-detail .ly-l-c .uname {
  text-align: center;
}
/* line 8, ../../scss/detail/detail.scss */
.guest-detail .layout-l {
  border-right: 1px solid #ddd;
}
/* line 11, ../../scss/detail/detail.scss */
.guest-detail .layout-r {
  margin-left: -1px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}
/* line 18, ../../scss/detail/detail.scss */
.guest-detail .wish-location {
  float: left;
  padding: 10px;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-bottom: 16px;
}
/* line 24, ../../scss/detail/detail.scss */
.guest-detail .wish-location:hover {
  border: 1px solid #fd7c7c;
}
/* line 25, ../../scss/detail/detail.scss */
.guest-detail .wish-location:hover .location {
  color: #fd6e6e;
}
/* line 30, ../../scss/detail/detail.scss */
.guest-detail .wish-location.odd {
  margin-right: 16px;
}
/* line 33, ../../scss/detail/detail.scss */
.guest-detail .wish-location a {
  color: #555;
}
/* line 36, ../../scss/detail/detail.scss */
.guest-detail .wish-location a:hover {
  text-decoration: none;
}
/* line 39, ../../scss/detail/detail.scss */
.guest-detail .wish-location .location {
  margin: 15px 0 10px;
}
/* line 42, ../../scss/detail/detail.scss */
.guest-detail .wish-location .i-delete {
  position: absolute;
  right: 2px;
  top: 8px;
  border: 3px solid #FFF;
  border-radius: 20px;
  padding: 0;
  width: 16px;
  background-color: #FFF;
  background-position-x: -2px;
}
/* line 53, ../../scss/detail/detail.scss */
.guest-detail .wish-location .img-wrap {
  width: 350px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
/* line 59, ../../scss/detail/detail.scss */
.guest-detail .wish-location .img-wrap img {
  position: absolute;
  top: 50%;
}
