/* line 1, ../../scss/detail/user-detail.scss */
.user-detail {
  background: white;
  padding: 20px;
}
/* line 4, ../../scss/detail/user-detail.scss */
.user-detail .user-head {
  position: relative;
}
/* line 6, ../../scss/detail/user-detail.scss */
.user-detail .user-head img {
  display: block;
}
/* line 8, ../../scss/detail/user-detail.scss */
.user-detail .like-status {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* line 13, ../../scss/detail/user-detail.scss */
.user-detail .user-photos {
  font-size: 0;
  line-height: 0;
  margin-right: -10px;
  width: 210px;
  position: relative;
}
/* line 19, ../../scss/detail/user-detail.scss */
.user-detail .user-photos img {
  margin-right: 10px;
  margin-top: 10px;
}
/* line 24, ../../scss/detail/user-detail.scss */
.user-detail .user-info {
  width: 460px;
}
/* line 27, ../../scss/detail/user-detail.scss */
.user-detail .user-info .user-desc, .user-detail .user-info .user-sex-age, .user-detail .user-info .user-type, .user-detail .user-info .user-language, .user-detail .user-info .user-contact {
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
/* line 31, ../../scss/detail/user-detail.scss */
.user-detail .user-info .user-name {
  font-size: 22px;
  font-family: microsoft yahei;
  margin: 0 0 5px 0;
}
/* line 35, ../../scss/detail/user-detail.scss */
.user-detail .user-info .user-name .i-talk {
  margin-left: 10px;
  vertical-align: top;
}
/* line 40, ../../scss/detail/user-detail.scss */
.user-detail .user-info .user-share {
  text-align: right;
  line-height: 3em;
}
/* line 46, ../../scss/detail/user-detail.scss */
.user-detail .photo-preview {
  position: absolute;
  display: none;
  width: 400px;
  height: 300px;
  top: 0px;
  left: 220px;
  text-align: center;
  border: 2px solid #ddd;
  background: white;
}
/* line 56, ../../scss/detail/user-detail.scss */
.user-detail .photo-preview img {
  vertical-align: middle;
}

/* line 65, ../../scss/detail/user-detail.scss */
.i-share {
  background: url('../../image/share.png') no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

/* line 71, ../../scss/detail/user-detail.scss */
.i-qq {
  background-position: -35px 0;
}

/* line 74, ../../scss/detail/user-detail.scss */
.i-facebook {
  background-position: -71px 0;
}

/* line 77, ../../scss/detail/user-detail.scss */
.i-twitter {
  background-position: -107px 0;
}

/* line 80, ../../scss/detail/user-detail.scss */
.i-gplus {
  background-position: -143px 0;
}
