<section>
    <p class="fs20 yahei mgb10">{{_e('关于鲜旅客')}}</p>
    <hr/>
    <div class="mgt10">
        {{_e('Travel companies give you an itinerary.
        Voyagin helps you discover and book otherworldly experiences

        We believe that there isn’t one world, but that we live in a multiverse with many different cultures, religions, languages, and personalities. We believe that the best part of traveling is the ability to meet people and view the world in a different perspective. Until now, these encounters have been greatly facilitated by luck.

        Meet Voyagin: our mission is to increase your chances and facilitate interactions to one-of-a-kind otherworldly experiences. Whether that’s achieving Buddhist enlightenment in the mountains, making new friends while enjoying a traditional meal with a family in Japan, getting a glimpse of world’s hidden underwater treasures with divers that love and respect the ocean is completely up to you. Anyone can experience something new, at any price point, whether you’re a food lover, into the offbeat or just want to to relax. We hope you’ll enjoy both the journey and the different values you experience.

        We’re not just building a marketplace, we’re building a community.')}}
    </div>
</section>