{% extends "base/frame.twig" %}
{% block title %}
{% set type = request("type" , "get")|default('aboutus')%}
{% set title = {
    aboutus: _e('关于我们'),
    team: _e('团队介绍'),
    contact: _e('联系方式'),
    faq:_e('常见问题'),
    banners: _e('友情链接'),
    ment: _e('服务协议'),
} %}
{{title[type] ~ _e(' – 鲜旅客 – 带你寻找鲜の旅')}}
{% endblock %}
{% block content %}
    {% set type = request("type" , "get")|default('aboutus')%}
    <section class="layout-200-780 sta">
        <div class="layout-l">
            {% include "sta/left.twig" %}
        </div>
        <div class="layout-r">
            {% if type == "aboutus" %}
                {% include "sta/aboutus.twig" %}
            {% elseif type == "team" %}
                {% include "sta/team.twig" %}
            {% elseif type == "contact" %}
                {% include "sta/contact.twig" %}
            {% elseif type == "banners" %}
                {% include "sta/banners.twig" %}
            {% elseif type == "faq" %}
                {% include "sta/faq.twig" %}
            {% elseif type == "ment" %}
                {% include "sta/ment.twig" %}
            {% endif %}
        </div>
    </section>
    {{require("sta/sta.css")}}
{% endblock %}