<section class="widget-left">
    {% set list = {
        aboutus:_e('关于鲜旅客'),
        team:_e('团队'),
        contact:_e('联系方式'),
        faq:_e('常见问题'),
        ment:_e('政策条款'),
        banners: _e('Banners')
    } %}
    <div class="left-head yahei fs20 c5b5f70">{{_e('关于我们')}}</div>
    <ul class="left-list fs14">
        {% for key , desc in list %}
            <li {{ type == key ? 'class="selected"' : '' }}><a href="/sta/?type={{key}}">{{desc}}</a></li>
        {% endfor %}
    </ul>
</section>