{% extends "base/frame.twig" %}
{% block head %}
    <style type="text/css">
    .find-password {text-align: center;width: 1000px;margin: 0 auto;}
    .find-password .con{margin:200px 0;}
    </style>
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="find-password">
        <form class="con">
            <input style="width:250px;" name="mail" placeholder="{{_e('请输入注册邮箱')}}" type="email" /> <button class="mgl10 btn btn-pink">{{_e('发送重置密码邮件')}}</button>
            <p class="mgt10 c999">{{_e('我们将会把密码重置链接发送到您的邮箱，您在密码重置页面更换新的密码即可。')}}</p>
        </form>
    </section>
{% endblock %}