{% extends "base/frame.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
{% set user = USERS[UID] %}
{% set type = TYPE|default("host") %}
{% set module = MODULE|default("reply") %}
    <div class="profile layout-200-780 box-s">
        <div class="layout-l">
            {% include "profile/p-left.twig" %}
        </div>
        <div class="layout-r">
            {# 所有在 profile下面的子模板中不能使用 require函数，会导致需要加载的静态资源找不到 #}
            {% if module == "service"%}
                {% set op = request('op' , 'get') %}
                {% set pid = request('pid' , 'get') %}

                {% if op == "new" %}
                    {% include "profile/w/p-service-update.twig" %}
                {% elseif pid %}
                    {% set project = PROJECTS[pid] %}
                    {% if op == "update" %}
                        {% include "profile/w/p-service-update.twig" with {project: project} %}
                    {% else %}
                        {% include "profile/w/p-service-view.twig" with {project: project} %}
                    {% endif %}
                {% else %}
                    {% include "profile/w/p-service.twig" %}
                {% endif %}
            {% elseif module == "setting"%}
                {% include "profile/w/p-setting.twig" %}
            {% elseif module == "metra"%}
                {% include "profile/w/p-metra.twig" %}
            {% elseif module == "wish-location"%}
                {% include "profile/w/p-wish-location.twig" %}
            {% elseif module == "wish-project"%}
                {% include "profile/w/p-wish-project.twig" %}
            {% elseif module == "wish-users"%}
                {% include "profile/w/p-wish-users.twig" %}

            {# msg and notice center #}
            {% elseif module == "notice"%}
                {% include "profile/w/p-notice.twig" %}
            {% elseif module == "msg"%}
                {% include "profile/w/p-msg.twig" %}

            {# comment #}
            {% elseif module == "reply"%}
                {% include "profile/w/p-reply.twig" %}
            {% endif %}
        </div>
    </div>
    {{require('profile/p-left.css,profile/p-right.css,pagejs/profile.js')}}
{% endblock %}