{% extends "base/frame.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
{% set user = USERS[UID] %}
{% set type = TYPE|default("guest") %}
{% set module = MODULE|default("setting") %}
    <div class="profile layout-200-780 box-s">
        <div class="layout-l">
            {% include "profile/p-left.twig" %}
        </div>
        <div class="layout-r">
            {% if module == "comment" %}
                {% include "profile/w/p-comment.twig" %}
            {% elseif module == "service" %}
                {% include "profile/w/p-service.twig" %}
            {% elseif module == "setting" %}
                {% include "profile/w/p-setting.twig" %}
            {% elseif module == "update" %}
                {% include "profile/w/p-update-project.twig" %}
            {% elseif module == "view" %}
                {% include "profile/w/p-view.twig" %}
            {% endif %}
        </div>
    </div>
    {{require('profile/p-left.css,profile/p-right.css,pagejs/profile.js')}}
{% endblock %}