@import "base/css3";
.become-host{
	width: 1000px;
	margin: 0 auto;

	.h-t{
		position: relative;
		color: white;
		p{
			position: absolute;
			top: 70px;
			font-size: 20px;
			@include rgba-bg( #000 , 0.4 );
			padding: 0.5em 1em;
			right: 0;
		}
		.b-t{
			font-size: 40px;
			background: #fd6e6e;
		}
	}
	.h-b{
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
		li{
			width: 25%;
			float: left;
			.h-b-t{
				color: #08d1a1;
				font-size: 18px;
				margin: 50px 20px;
				height: 50px;
				line-height: 42px;
				position: relative;
				em{
					font-size: 50px;
					font-style: normal;
					color: #cbcbcb;
					vertical-align: middle;
					float: left;
					line-height: 45px;
				}
			}
			.h-b-b{
				margin: 120px 30px 80px;
			}
			p,h3{
				margin: 0 20px 20px;
			}
		}
	}
	.h-b-1{
		background: image-url('become-bg.png') no-repeat center top;
	}
	.h-b-2{
		img{
			display: block;
			margin: 40px auto;
		}
	}
	.h-b-3{
		padding: 20px 40px 60px;
		.user-list{
			margin-top: 35px;
		}
		li{
			width: auto;
			width: 90px;
			margin: 0 20px 0 0;
			text-align: center;
			.radiu-head{
				margin-bottom: 10px;
			}
		}
	}

	.btns{
		padding: 50px;
		text-align: center;
		.btn{
			font-weight: normal;
			font-size: 30px;
			padding: 10px 50px;
		}
	}
}