@import "base/css3";
@import "base/mixin";

// for common block
.p-body{
    padding-bottom: 30px;
    .p-meta{
        padding: 10px 0;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
        @include clearfix;
        label{
            width: 170px;
            float: left;
        }
        .p{
            padding-left: 170px;
        }
        .p-meta-sep{
            margin: 0 5px;
            color: #999;
        }
        .day-desc{
            margin: 20px 0;
        }
    }
}
@import "profile/p-service";
@import "profile/p-detail";
@import "profile/p-wishes";
@import "profile/p-metra";
// for reply
.reply-list{
    border-top: 1px solid #ddd;
    .reply-item{
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 15px;
    }
    .reply-block{
        padding: 10px 0;
    }
    .reply{
        padding: 0 100px 0 90px;
        p{
            margin: 0 0 1em;
        }
    }
}




// for p-view
.p-view{
    .btns{
        margin-top: 20px;
        .btn{
            margin-right: 20px;
        }
    }
}

// for-setting
.p-setting{
    color: #5b5f70;
    .p{
        padding-left: 190px;
    }
    .p-setting-edit{
        display: none;
    }
    .btns{
        margin-top: 20px;
        text-align: center;
    }
}


