@import "base/css3";
@import "base/mixin";

.layout-200-780 .layout-l{
    position: relative;
}
.layout-200-780 .layout-r{
    padding-left: 20px;
    margin-left: -1px;
    border-left: 1px solid #ddd;
}

// for common block
.p-body{
    padding-bottom: 30px;
    .post-item .p-meta{
        padding: 0;
        border-bottom: none;
    }
    .p-meta{
        padding: 10px 0;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
        @include clearfix;
        label{
            width: 170px;
            float: left;
        }
        .p{
            padding-left: 170px;
        }
        .p-meta-sep{
            margin: 0 5px;
            color: #999;
        }
        .day-desc{
            margin: 20px 0;
        }
    }
}
@import "profile/p-service";
@import "profile/p-detail";
@import "profile/p-wishes";
@import "profile/p-metra";
// for notice
.notice-item{
    border-bottom: 1px solid #ddd;
}
// for msg
.msggroup-list .msg-item{
    cursor: pointer;
    &:hover{
        background: rgb(234, 241, 228);
    }
}
.msg-item{

    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    .msg-head{
        position: relative;
    }
    .msg-num{
        @include border-radius(100px) ;
        background: #ff5d5d;
        color: white;
        width: 20px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
    }
    .msg-right{
        padding: 0 90px;
    }
    .msg-content{
        background: #f4f4f4;
        padding: 10px 15px;
        position: relative;
        @include border-radius(4px);
        &:before{
            content: " ";
            position: absolute;
            left: -15px;
            top: 14px;
            border-top: 10px solid #F4F4F4;
            border-left: 15px solid rgba(0, 0, 0, 0);
        }
    }
}
.msg-detail{
    textarea{
        width: 527px;
        height: 100px;
        margin-bottom: 10px;
    }
    .msg-opts{
        display: none;
    }
    .msg-item{
        border-bottom: none;
        &:hover .msg-opts {
            display: block;
        }
    }
    .msg-box{
        padding: 0 110px;
    }
    .user-head{
        float: left;
    }
    .msg-my{
        .user-head{
            float: right;
        }
        .msg-name{
            text-align: right;
        }
        .msg-content:before{
            left: auto;
            right: -15px;
            border-right: 15px solid rgba(0, 0, 0, 0);
            border-left: none;
        }
    }
    .msg-metas{
        margin-bottom: 0;
    }
    .msg-name{
        font-size: 16px;
        margin-bottom: 5px;
        color: #393836;
    }
}
// for reply
.reply-list{
    .reply-right{
        padding-left: 90px;
    }
    .u-name{
        font-size: 12px;
        color: #0c80a6;
    }
    .hover-show{
        display: none;
    }
    .reply-item{
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 15px;
        &:hover .hover-show{
            display: inline;
        }
    }
    .reply-block{
        padding: 10px 0;
    }
    .reply{
        padding: 0 100px 0 90px;
        p{
            margin: 0 0 1em;
        }
    }
}




// for p-view
.p-view{
    .btns{
        margin-top: 20px;
        .btn{
            margin-right: 20px;
        }
    }
}

// for-setting
.p-setting{
    color: #5b5f70;
    .p{
        padding-left: 190px;
    }
    .p-setting-edit{
        display: none;
    }
    .btns{
        margin-top: 20px;
        text-align: center;
    }
}


// for reply
.p-reply{
    .comments-wrap{
        padding: 10px;
        border: 1px solid rgb(238, 238, 238);
        margin-top: 10px;
        textarea{
            width: 635px;
        }
        button{
            float: right;
            margin-top: 10px;
        }
    }
}