/* line 1, ../../scss/sta/sta.scss */
.sta {
  color: #c5b5f70;
}

/* line 5, ../../scss/sta/sta.scss */
.left-list li {
  font-size: 20px;
  font-style: microsoft yahei;
  padding-left: 20px;
  border: 1px solid white;
  border-right: 1px solid #ddd;
}
/* line 11, ../../scss/sta/sta.scss */
.left-list li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #555;
}
/* line 16, ../../scss/sta/sta.scss */
.left-list li a:hover {
  text-decoration: none;
}
/* line 21, ../../scss/sta/sta.scss */
.left-list .selected {
  font-weight: bold;
  border: 1px solid #ddd;
  border-right: 1px solid white;
  border-left: 5px solid #eba4a5;
  margin-left: -5px;
}

/* line 30, ../../scss/sta/sta.scss */
.sta-right .title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
/* line 34, ../../scss/sta/sta.scss */
.sta-right p {
  line-height: 1.5em;
}
