/* line 1, ../../scss/sta/sta.scss */
.sta {
  color: #c5b5f70;
}
/* line 3, ../../scss/sta/sta.scss */
.sta .layout-r {
  padding-left: 20px;
  margin-left: -1px;
  border-left: 1px solid #e4e4e4;
}

/* line 9, ../../scss/sta/sta.scss */
.left-head {
  padding: 20px;
  margin-top: -20px;
  border-right: 1px solid #e4e4e4;
}

/* line 10, ../../scss/sta/sta.scss */
.left-list {
  padding-bottom: 40px;
}
/* line 12, ../../scss/sta/sta.scss */
.left-list li {
  font-style: microsoft yahei;
  padding-left: 20px;
  border-right: 1px solid #e4e4e4;
}
/* line 16, ../../scss/sta/sta.scss */
.left-list li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #555;
}
/* line 21, ../../scss/sta/sta.scss */
.left-list li a:hover {
  text-decoration: none;
}
/* line 26, ../../scss/sta/sta.scss */
.left-list .selected {
  position: relative;
  font-weight: bold;
  border: 1px solid #e4e4e4;
  border-right: 1px solid white;
  border-left: 5px solid #eba4a5;
  margin-left: -5px;
}

/* line 36, ../../scss/sta/sta.scss */
.sta-right .con {
  margin-bottom: 50px;
}
/* line 37, ../../scss/sta/sta.scss */
.sta-right .con-t {
  margin-bottom: 50px;
}
/* line 38, ../../scss/sta/sta.scss */
.sta-right .con-c {
  text-align: center;
}
/* line 39, ../../scss/sta/sta.scss */
.sta-right .para {
  text-indent: 2em;
  line-height: 2em;
}
/* line 40, ../../scss/sta/sta.scss */
.sta-right .steps li {
  float: left;
  width: 30%;
  margin-right: 3%;
}
/* line 42, ../../scss/sta/sta.scss */
.sta-right .con-why li {
  margin: 40px 0;
}
/* line 43, ../../scss/sta/sta.scss */
.sta-right .con-why label {
  float: left;
}
/* line 46, ../../scss/sta/sta.scss */
.sta-right .con-why .i-icon {
  background: url('../../image/sta/p2.png') no-repeat;
  width: 38px;
  height: 38px;
  margin-right: 15px;
}
/* line 52, ../../scss/sta/sta.scss */
.sta-right .con-why .i-icon-2 {
  background-position: 0 -98px;
}
/* line 55, ../../scss/sta/sta.scss */
.sta-right .con-why .i-icon-3 {
  background-position: 0 -223px;
}
/* line 58, ../../scss/sta/sta.scss */
.sta-right .con-why .i-icon-4 {
  background-position: 0 -343px;
}
/* line 61, ../../scss/sta/sta.scss */
.sta-right .con-why .i-icon-5 {
  background-position: 0 -466px;
}
/* line 65, ../../scss/sta/sta.scss */
.sta-right .con-why p {
  padding-left: 250px;
  font-size: 12px !important;
}

/* line 71, ../../scss/sta/sta.scss */
.team-list {
  margin-top: 20px;
}
/* line 73, ../../scss/sta/sta.scss */
.team-list li {
  float: left;
  width: 23%;
  margin-right: 2%;
}

/* line 81, ../../scss/sta/sta.scss */
.sta-contact {
  padding-bottom: 40px;
}
/* line 83, ../../scss/sta/sta.scss */
.sta-contact table {
  width: 100%;
  line-height: 40px;
}
/* line 86, ../../scss/sta/sta.scss */
.sta-contact table tr {
  border-bottom: 1px solid #e4e4e4;
}
/* line 89, ../../scss/sta/sta.scss */
.sta-contact table td:first-child {
  color: #555;
}

/* line 97, ../../scss/sta/sta.scss */
.sta-banners .desc {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
}
/* line 101, ../../scss/sta/sta.scss */
.sta-banners table {
  width: 100%;
}
/* line 103, ../../scss/sta/sta.scss */
.sta-banners table td {
  padding: 15px 0;
}
/* line 106, ../../scss/sta/sta.scss */
.sta-banners table .br {
  border-bottom: 1px solid #e4e4e4;
}
/* line 109, ../../scss/sta/sta.scss */
.sta-banners table img {
  margin-top: 10px;
}
/* line 113, ../../scss/sta/sta.scss */
.sta-banners textarea {
  width: 380px;
  height: 100px;
}
