/* line 2, ../../scss/loc/loc-flow.scss */
.loc-images {
  margin-bottom: 20px;
}
/* line 4, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img {
  width: 540px;
  height: 260px;
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 10, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .likebg {
  position: absolute;
  right: 6px;
  bottom: 10px;
}
/* line 15, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .likebg:hover .like-bg {
  left: -85px;
}
/* line 18, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .like-bg {
  line-height: 34px;
  word-spacing: nowrap;
  color: white;
  padding-left: 10px;
  position: absolute;
  height: 34px;
  top: -4px;
  background: rgba(0, 0, 0, 0.4);
  right: 0;
  z-index: -1;
  left: 40px;
  -moz-transition: left 0.7s;
  -o-transition: left 0.7s;
  -webkit-transition: left 0.7s;
  transition: left 0.7s;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 33, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .photo-user {
  position: absolute;
  color: #ccc;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  line-height: 20px;
}
/* line 41, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .photo-user a {
  color: #fff;
  font-size: 14px;
}
/* line 47, ../../scss/loc/loc-flow.scss */
.loc-images .l-s-img {
  padding-left: 540px;
  margin-bottom: -20px;
}
/* line 50, ../../scss/loc/loc-flow.scss */
.loc-images .l-s-img li {
  float: left;
  cursor: pointer;
  margin: 0 0 10px 10px;
  height: 80px;
  width: 80px;
  background: #ddd;
}
/* line 60, ../../scss/loc/loc-flow.scss */
.loc-images .loc-name {
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#80000000',EndColorStr='#80000000');
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-family: microsoft yahei;
  top: 15px;
  position: absolute;
  left: 15px;
  padding: 10px 5px;
  z-index: 1;
}
/* line 70, ../../scss/loc/loc-flow.scss */
.loc-images .loc-name img {
  vertical-align: middle;
}

/* line 76, ../../scss/loc/loc-flow.scss */
.loc-feeds .loc-h {
  padding: 15px 10px 8px 20px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  color: #5b5f70;
}
/* line 81, ../../scss/loc/loc-flow.scss */
.loc-feeds .loc-h img {
  float: left;
  margin-right: 5px;
}
/* line 86, ../../scss/loc/loc-flow.scss */
.loc-feeds .tabs {
  padding: 20px 20px 10px;
}
/* line 88, ../../scss/loc/loc-flow.scss */
.loc-feeds .tabs a {
  padding: 5px 15px;
}
/* line 90, ../../scss/loc/loc-flow.scss */
.loc-feeds .tabs a.selected {
  color: #555;
  background: #e6edf6;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 100, ../../scss/loc/loc-flow.scss */
.loc-like .loc-h {
  height: 50px;
  line-height: 58px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 106, ../../scss/loc/loc-flow.scss */
.loc-like .loc-like-list {
  padding: 10px 20px;
}
/* line 108, ../../scss/loc/loc-flow.scss */
.loc-like .loc-like-list li {
  margin-right: 6px;
  float: left;
  overflow: hidden;
}

/* line 116, ../../scss/loc/loc-flow.scss */
.loc-lepei .loc-h {
  height: 50px;
  line-height: 58px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 123, ../../scss/loc/loc-flow.scss */
.loc-lepei .loc-lepei-list li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 126, ../../scss/loc/loc-flow.scss */
.loc-lepei .loc-lepei-list li .loc-l-r {
  padding-left: 90px;
  line-height: 2em;
}
/* line 132, ../../scss/loc/loc-flow.scss */
.loc-lepei .btn {
  float: right;
  margin: 15px;
}

/* line 139, ../../scss/loc/loc-flow.scss */
.pub-wrap {
  margin-top: 50px;
}
