/* line 2, ../../scss/loc/loc-flow.scss */
.loc-images {
  margin-bottom: 20px;
}
/* line 4, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img {
  width: 540px;
  height: 260px;
  position: relative;
  float: left;
}
/* line 9, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .likebg {
  position: absolute;
  right: 6px;
  bottom: 10px;
}
/* line 14, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .likebg:hover .like-bg {
  left: -85px;
}
/* line 17, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .like-bg {
  line-height: 34px;
  word-spacing: nowrap;
  color: white;
  padding-left: 10px;
  position: absolute;
  height: 34px;
  top: -4px;
  background: rgba(0, 0, 0, 0.4);
  right: 0;
  z-index: -1;
  left: 40px;
  -moz-transition: left 0.7s;
  -o-transition: left 0.7s;
  -webkit-transition: left 0.7s;
  transition: left 0.7s;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 32, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .photo-user {
  position: absolute;
  color: #ccc;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  line-height: 20px;
}
/* line 40, ../../scss/loc/loc-flow.scss */
.loc-images .l-b-img .photo-user a {
  color: #fff;
  font-size: 14px;
}
/* line 46, ../../scss/loc/loc-flow.scss */
.loc-images .l-s-img {
  padding-left: 540px;
  margin-bottom: -20px;
}
/* line 49, ../../scss/loc/loc-flow.scss */
.loc-images .l-s-img li {
  float: left;
  cursor: pointer;
  margin: 0 0 10px 10px;
  height: 80px;
  width: 80px;
  background: #ddd;
}
/* line 59, ../../scss/loc/loc-flow.scss */
.loc-images .loc-name {
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#80000000',EndColorStr='#80000000');
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-family: microsoft yahei;
  top: 15px;
  position: absolute;
  left: 15px;
  padding: 10px 5px;
}
/* line 68, ../../scss/loc/loc-flow.scss */
.loc-images .loc-name img {
  vertical-align: middle;
}

/* line 74, ../../scss/loc/loc-flow.scss */
.loc-feeds .loc-h {
  padding: 15px 10px 8px 20px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  color: #5b5f70;
}
/* line 79, ../../scss/loc/loc-flow.scss */
.loc-feeds .loc-h img {
  float: left;
  margin-right: 5px;
}
/* line 84, ../../scss/loc/loc-flow.scss */
.loc-feeds .tabs {
  padding: 20px 20px 10px;
}
/* line 86, ../../scss/loc/loc-flow.scss */
.loc-feeds .tabs a {
  padding: 5px 15px;
}
/* line 88, ../../scss/loc/loc-flow.scss */
.loc-feeds .tabs a.selected {
  color: #555;
  background: #e6edf6;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 98, ../../scss/loc/loc-flow.scss */
.loc-like .loc-h {
  height: 50px;
  line-height: 58px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 104, ../../scss/loc/loc-flow.scss */
.loc-like .loc-like-list {
  padding: 10px 20px;
}
/* line 106, ../../scss/loc/loc-flow.scss */
.loc-like .loc-like-list li {
  margin-right: 6px;
  float: left;
  overflow: hidden;
}

/* line 114, ../../scss/loc/loc-flow.scss */
.loc-lepei .loc-h {
  height: 50px;
  line-height: 58px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 121, ../../scss/loc/loc-flow.scss */
.loc-lepei .loc-lepei-list li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 124, ../../scss/loc/loc-flow.scss */
.loc-lepei .loc-lepei-list li .loc-l-r {
  padding-left: 90px;
  line-height: 2em;
}
/* line 130, ../../scss/loc/loc-flow.scss */
.loc-lepei .btn {
  float: right;
  margin: 15px;
}

/* line 137, ../../scss/loc/loc-flow.scss */
.pub-wrap {
  margin-top: 50px;
}

/* line 143, ../../scss/loc/loc-flow.scss */
.like-to-bar {
  background: url('../../image/like-to-bg.png');
  position: fixed;
  bottom: 0px;
  width: 100%;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  z-index: 1000;
}
/* line 152, ../../scss/loc/loc-flow.scss */
.like-to-bar .like-to-inner {
  width: 1000px;
  margin: 0 auto;
}
/* line 156, ../../scss/loc/loc-flow.scss */
.like-to-bar span, .like-to-bar a {
  float: left;
  padding-right: 20px;
}
/* line 160, ../../scss/loc/loc-flow.scss */
.like-to-bar a {
  color: white;
  font-size: 14px;
  padding: 0 20px;
  border-left: 1px solid #555;
}
