{% set columns = {
	"列名1": "name" , 
	"列名2": "id" ,
	"列名3": "$data[type]==1?'aaaa':'bbb'" ,
	"列名4": "<a href=\\\"\\\">$data[name]</a>"
}%}
{% set data_list=[{name:'hahaha' , id:1212 , type:1}] %}
{% include "base/data-grid.twig" %}

{{ hello }}