/* reset css */
@import "base/reset";
/* css3 */
@import "base/css3";
/* icon */
@import "base/icon";
/* minxi */
@import "base/mixin";
/* layout */
@import "base/layout";
@include layout-400-580();
@include layout-260-720();
@include layout-200-780();
@include layout-720-260();

@import "widget/dropmenu";
/* TODO.. site base css , author link color and so on*/
$linkColor : #0c80a6;
body{
    font  : 12px/20px arial, sans-serif;
    color : #333;
    background-color: #f4f4f4;
}
a {
    color : $linkColor;
    text-decoration : none;
    outline: none;
    &:hover {
        text-decoration : underline;
    }
    // turn back
    /*&.tb:hover{
        color: white;
        background: $linkColor;
        text-decoration: none;
    }*/
    &:focus {
        outline : none;
    }
}

.clearfix {
    @include clearfix;
}
.ofh{overflow:hidden;}
.fs12{font-size: 12px !important;}
.fs14{font-size: 14px !important;}
.fs16{font-size: 16px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs24{font-size: 24px !important;}
.blod{font-weight: bold;}
.lh30{line-height: 30px !important;}
.lh2em{line-height: 2em !important;}

.fl{float:left !important;}
.fr{float:right !important;}
.caaa{color: #aaa !important;}
.c999{color: #999 !important;}
.c333{color: #333 !important;}
.c000{color: #000 !important;}
.pd20{padding: 20px !important;}
.pdt10{padding-top: 10px !important;}
.pdb10{padding-bottom: 10px !important;}
.pdl10{padding-left: 10px !important;}
.pdr10{padding-right: 10px !important;}
.mg0{margin: 0px !important;}
.mgt5{margin-top: 5px !important;}
.mgr10{margin-right: 10px !important;}
.mgl10{margin-left: 10px !important;}
.mgt10{margin-top: 10px !important;}
.mgb10{margin-bottom: 10px !important;}
.mbt20{margin-top: 20px !important;}
.yahei{font-family: microsoft yahei;}
.monospace{font-family: monospace;}

// base color
.orange{color: $orangeColor !important;;}
.l-blur{color: #31cfdd !important;;}
.c-link{color: $linkColor !important;;}
.c-num em{color: #31cfdd; font-size: 1.2em;font-family: microsoft yahei;font-style: normal; margin: 0 5px;}
// border
.bdr100{
    @include border-radius( 100px );
}
.br4{
    @include border-radius( 4px );
}
// box-shadow
.box-s{
    @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));
}
// background
.bg-w{
    background: white;
}
/* header css  */
@import "frame/header";
/* footer css */
@import "frame/footer";



@import "widget/form";
@import "widget/btn";

/* for normal block */
.path{margin-bottom: 35px;
    span{margin:0 10px;color: red;}
    a{position: relative;}
    a:after{
        position: absolute;
        top: 100%;
        left: 0;
        content: attr(num);
        color: #999;
        white-space: nowrap;
    }
    a[num]{
        margin-right: 25px;
    }
}
.radiu-head{
    @include border-radius( 100px );
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 1px solid #C8C8C8;
    padding: 5px;
    background: white;
    img{
        @include border-radius( 100px );
        width: 78px;
        height: 78px;
    }
}
/* widget left */
.widget-left{
    margin-top: 20px;
    .mod-h{
        font-size: 20px;
        line-height: 2.5em;
        font-family: microsoft yahei;
    }
    .mod-b{
        @include border-radius(4px);
    }
}

/** for u-name u-city and country**/
.u-name{
    font-size: 16px;
    font-family: microsoft yahei;
    color: #555;
    /*&:hover{
        background: #555;
        text-decoration: none;
        color: white;
    }*/
}
.u-city ,.u-country{
    color: #777;
}

/** for validator **/
.v-right{
    color: blue;
}
.v-error{
    color: red;
}
.v-msg{
    color: #fc8200;
}

/** for auto complete **/
.__auto_wrap{
    background: #FFF;
    border: 1px solid #DDD;
    z-index: 10000;
    margin-top: -2px;
    @include border-radius( 0 0 4px 4px );
}
.__auto_body{
    text-indent: 1em;
    line-height: 2.5em;
}
.__auto_body .hover{
    background-color: #e55757;
    color: white;
}


// include login css
@import "com/login-reg";


// for scrollbar style
::-webkit-scrollbar {width: 14px;height: 14px;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {background: -webkit-gradient(linear,left);width: 11px;height: 11px;}
::-webkit-scrollbar-thumb {border-width: 0 3px;border-style: solid;border-color: #fefefe;border-radius: 6px;background: #d9d9d9;}
::-webkit-scrollbar-thumb:horizontal {border-width: 3px 0;border-style: solid;border-color: #fefefe;border-radius: 6px;background: #d9d9d9;}
::-webkit-scrollbar-thumb:hover {background: #bdbdbd;}::-webkit-scrollbar-thumb:active {background: #8e8e8e;}