{% import "base/micro.twig" as Micro %}
<section class="p-notice">
    <p class="yahei fs20">{{_e('通知')}}</p>
    <ul class="notice-list">
        {% set notices=[{title:"123213123",content:"ahahahhaha",create_time:213124421},{title:"123213123",content:"ahahahhaha",create_time:213124421},{title:"123213123",content:"ahahahhaha",create_time:213124421}] %}
        {% for notice in notices %}
        <li class="notice-item">
            <h3>{{notice.title}}</h3>
            <p>{{notice.content}}</p>
            <p class="c999">
                {{Micro.time( notice.create_time )}}
            </p>
        </li>
        {% endfor %}
    </ul>
</section>