{# project #}
<section class="p-view">
    <div class="p-head">
        <p class="path c999"><a href="/profile/host/service/" class="tb mgr10">{{_e('返回')}}</a><span class="monospace mgr10">&gt;</span>{{ project ? _e('修改旅行方案') : _e('添加旅行方案')}}</p>
    </div>
    <div class="p-body">
		<form class="project-form J_project-form" action="">
		    {% include "widget/project.twig" with {project: project} %}
		    <div class="form-btn">
		        <button class="btn btn-green mgr10">{{_e('保存')}}</button> <a href="javascript:;" class="mgl10 tb">取消</a>
		    </div>
		</form>
	</div>
</section>