{% import "base/macro.twig" as Macro %}
<section class="p-users" >
    <div class="p-head">
        <p class="fs20 yahei">{{_e('我收藏的小鲜')}}</p>
    </div>
    <div class="p-body">
        <ul class="user-list">
            {% for uid in wish_users %}
                {% include "widget/lepei.twig" with {user: USERS[uid] , show_desc: true , show_project:true} %}
            {% else %}
                <li class="c999">{{_e("暂无数据")}}</li>
            {% endfor %}
        </ul>
    </div>
</section>