@import "base/css3";
.widget-history{
    border: 2px dashed #c7c7c7;
    background: #ffffe9;
    margin-bottom: 20px;
    .h-title{
        font-size: 20px;
        font-family: microsoft yahei;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;

        .i-remove{
            margin: 15px -10px 0 0;
        }
    }
}
.widget-loc{
    background: white;
    margin-bottom: 20px;
    .loc-pic{
        position: relative;
        display: block;
        img{
            display: block;
            vertical-align: middle;
        }
        .pic-bg{
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 48px;
            line-height: 48px;
            @include rgba-bg( #000 , 0.5 , 1);
            color: white;
            .metas{
                margin-left: 20px;
            }
        }
        .loc-name{
            color: white;
            @include rgba-bg( #000 , 0.5 , 1);
            font-size: 30px;
            font-family: microsoft yahei;
            top: 15px;
            position: absolute;
            left: 15px;
            padding: 13px 10px;
        }
    }

    .user-list{
        margin-top: 20px;
        padding: 0 10px;
        line-height: 2.5em;
        li {
            margin: 0 10px;
            float: left;
            text-align: center;
            width: 92px;
            line-height: 20px;
            .radiu-head{
                margin-bottom: 10px;
            }
            .u-name{
                font-size: 16px;
                font-family: microsoft yahei;
                color: #555;
            }
        }
    }

    .theme-list{
        padding: 20px;
        li{margin: 0 0 15px 0;}
        input.theme-color{
            margin: 0 10px;
            height: 17px;
            @include border-radius(0);
            background: red;
            border: none;
            padding: 0px;
            vertical-align: middle;
        }
    }

    .btn{
        margin: 15px 15px 25px;
    }

    /* tabs for city list */
    .tabs {
        padding: 10px ;
        a{
            margin-right: 10px;
            padding: 4px 7px;
            @include border-radius(4px);
            &.selected{
                background: #e6edf6;
                color: #333;
                cursor: normal;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}