@import "base/css3";
.widget-loc-list{
    margin-bottom: 15px;
    margin-top: 1px;
    li{
        background: white;
        margin: 1px 1px 12px 1px;
        height: 110px;
        overflow: hidden;
        &:hover{
            cursor: pointer;
            border: 1px solid #fd6e6e;
            margin: -1px 0px 11px ;
            a{
                color: #fd6e6e;
            }
            .i-right-angle{
                background-position-x: -53px;
            }
        };
        a:hover{
            text-decoration: none;
        };
        img{
            margin-right: 10px;
        }
        p{
            padding: 10px 0;
        }
        .w-opt{
            width: 30px;
            padding-top: 40px;
        }
    }
}
.why-con{
    padding: 20px 20px 0 80px;
    overflow:hidden;
    background: white image-url("main-why.png") no-repeat 20px 20px;
    div{
        margin-bottom: 22px;
    }
}