/* line 2, ../../scss/index/slider.scss */
.top-slider {
  margin: -80px 0 20px;
  position: relative;
  color: white;
}
/* line 7, ../../scss/index/slider.scss */
.top-slider .top-slider-imgs {
  position: relative;
  width: 100%;
  height: 450px;
}
/* line 11, ../../scss/index/slider.scss */
.top-slider .top-slider-imgs .top-slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 18, ../../scss/index/slider.scss */
.top-slider .top-slider-imgs img {
  position: absolute;
  left: 50%;
  margin-left: -800px;
  display: block;
}
/* line 25, ../../scss/index/slider.scss */
.top-slider .slider-btns {
  width: 1000px;
  margin: 0 auto;
  position: absolute;
  height: 65px;
  top: 50%;
  margin-top: -33px;
  left: 50%;
  margin-left: -500px;
}
/* line 34, ../../scss/index/slider.scss */
.top-slider .slider-left, .top-slider .slider-right {
  position: absolute;
  width: 65px;
  height: 65px;
  left: -65px;
  cursor: pointer;
  z-index: 1000;
  background: url('../../image/main.icon.png') no-repeat;
}
/* line 42, ../../scss/index/slider.scss */
.top-slider .slider-left:hover, .top-slider .slider-right:hover {
  background-position-x: -65px;
}
/* line 44, ../../scss/index/slider.scss */
.top-slider .slider-right {
  right: -65px;
  left: auto;
  background-position-y: -65px;
}
/* line 49, ../../scss/index/slider.scss */
.top-slider .top-slider-fro {
  position: absolute;
  width: 100%;
  height: 450px;
  top: 0;
  overflow: hidden;
}
/* line 55, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slogon {
  text-align: center;
  margin-top: 140px;
  position: relative;
  z-index: 2;
  font-family: microsoft yahei;
  -moz-text-shadow: 1px 1px 1px black;
  -webkit-text-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 1px black;
}
/* line 62, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slogon h1 {
  font-weight: normal;
  font-size: 50px;
}
/* line 66, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slogon h2 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 30px;
}
/* line 71, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slogon a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
/* line 80, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slider-users {
  width: 1000px;
  height: 90px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  margin-left: -500px;
  bottom: 25px;
  overflow: hidden;
}
/* line 90, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slider-users li {
  position: absolute;
  overflow: hidden;
  padding: 9px 13px 9px 27px;
  width: 85px;
  cursor: pointer;
  border-left: 1px solid #6B6B6B;
}
/* line 98, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slider-users .selected {
  padding: 9px 20px;
  width: 460px;
  background: rgba(0, 0, 0, 0.5);
  border-left: none;
  cursor: default;
}
/* line 104, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slider-users .selected .desc {
  display: block;
}
/* line 108, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slider-users .desc {
  display: none;
  width: 460px;
  line-height: 2.1em;
  padding-left: 90px;
}
/* line 114, ../../scss/index/slider.scss */
.top-slider .top-slider-fro .slider-users .u-name, .top-slider .top-slider-fro .slider-users .u-city, .top-slider .top-slider-fro .slider-users .u-country {
  color: white;
}
