/* line 2, ../../scss/index/widget-left.scss */
.widget-loc-list {
  margin-bottom: 15px;
}
/* line 4, ../../scss/index/widget-left.scss */
.widget-loc-list li {
  background: white;
  border: 1px solid transparent;
  margin: 1em 0;
  height: 110px;
}
/* line 9, ../../scss/index/widget-left.scss */
.widget-loc-list li:hover {
  border: 1px solid #feba02;
}
/* line 12, ../../scss/index/widget-left.scss */
.widget-loc-list li img {
  margin-right: 10px;
}
/* line 15, ../../scss/index/widget-left.scss */
.widget-loc-list li p {
  padding: 10px 0;
}
/* line 18, ../../scss/index/widget-left.scss */
.widget-loc-list li .w-opt {
  width: 30px;
  padding-top: 20px;
}
