/* line 2, ../../scss/index/widget-left.scss */
.widget-loc-list {
  margin-bottom: 15px;
}
/* line 4, ../../scss/index/widget-left.scss */
.widget-loc-list li {
  background: white;
  height: 110px;
}
/* line 7, ../../scss/index/widget-left.scss */
.widget-loc-list li img {
  margin-right: 10px;
}
/* line 10, ../../scss/index/widget-left.scss */
.widget-loc-list li p {
  padding: 10px 0;
}
/* line 13, ../../scss/index/widget-left.scss */
.widget-loc-list li .w-opt {
  width: 30px;
  padding-top: 20px;
}
