/* line 2, ../../scss/index/widget-left.scss */
.widget-loc-list {
  margin-bottom: 15px;
}
/* line 4, ../../scss/index/widget-left.scss */
.widget-loc-list li {
  background: white;
  margin: 12px 1px;
  height: 110px;
  overflow: hidden;
}
/* line 9, ../../scss/index/widget-left.scss */
.widget-loc-list li:hover {
  cursor: pointer;
  border: 1px solid #fd6e6e;
  margin: -1px 0px;
}
/* line 13, ../../scss/index/widget-left.scss */
.widget-loc-list li:hover a {
  color: #fd6e6e;
}
/* line 16, ../../scss/index/widget-left.scss */
.widget-loc-list li:hover .i-right-angle {
  background-position-x: -53px;
}
/* line 20, ../../scss/index/widget-left.scss */
.widget-loc-list li a:hover {
  text-decoration: none;
}
/* line 23, ../../scss/index/widget-left.scss */
.widget-loc-list li img {
  margin-right: 10px;
}
/* line 26, ../../scss/index/widget-left.scss */
.widget-loc-list li p {
  padding: 10px 0;
}
/* line 29, ../../scss/index/widget-left.scss */
.widget-loc-list li .w-opt {
  width: 30px;
  padding-top: 40px;
}

/* line 35, ../../scss/index/widget-left.scss */
.why-con {
  padding: 20px 20px 0 80px;
  overflow: hidden;
  background: white url('../../image/main-why.png') no-repeat 20px 20px;
}
/* line 39, ../../scss/index/widget-left.scss */
.why-con div {
  margin-bottom: 22px;
}
