/* line 2, ../../scss/index/widget-right.scss */
.widget-history {
  border: 2px dashed #c7c7c7;
  background: #ffffe9;
  margin-bottom: 20px;
}
/* line 6, ../../scss/index/widget-right.scss */
.widget-history .h-title {
  font-size: 20px;
  font-family: microsoft yahei;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
/* line 13, ../../scss/index/widget-right.scss */
.widget-history .h-title .i-remove {
  margin: 15px -10px 0 0;
}

/* line 18, ../../scss/index/widget-right.scss */
.widget-loc {
  background: white;
  margin-bottom: 20px;
}
/* line 21, ../../scss/index/widget-right.scss */
.widget-loc .loc-pic {
  position: relative;
  display: block;
}
/* line 24, ../../scss/index/widget-right.scss */
.widget-loc .loc-pic img {
  display: block;
  vertical-align: middle;
}
/* line 28, ../../scss/index/widget-right.scss */
.widget-loc .loc-pic .pic-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 48px;
  line-height: 48px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#80000000',EndColorStr='#80000000}');
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 36, ../../scss/index/widget-right.scss */
.widget-loc .loc-pic .pic-bg .metas {
  margin-left: 20px;
}
/* line 40, ../../scss/index/widget-right.scss */
.widget-loc .loc-pic .loc-name {
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#80000000',EndColorStr='#80000000}');
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-family: microsoft yahei;
  top: 15px;
  position: absolute;
  left: 15px;
  padding: 13px 10px;
}
/* line 52, ../../scss/index/widget-right.scss */
.widget-loc .user-list {
  margin-top: 20px;
  padding: 0 10px;
  line-height: 2.5em;
}
/* line 56, ../../scss/index/widget-right.scss */
.widget-loc .user-list li {
  margin: 0 10px;
  float: left;
  text-align: center;
}
/* line 61, ../../scss/index/widget-right.scss */
.widget-loc .user-list li .u-name {
  font-size: 16px;
  font-family: microsoft yahei;
  color: #555;
}
/* line 69, ../../scss/index/widget-right.scss */
.widget-loc .theme-list {
  padding: 20px;
}
/* line 71, ../../scss/index/widget-right.scss */
.widget-loc .theme-list li {
  margin: 0 0 15px 0;
}
/* line 72, ../../scss/index/widget-right.scss */
.widget-loc .theme-list input.theme-color {
  margin: 0 10px;
  height: 17px;
  -moz-border-radius: 0;
  border-radius: 0;
  background: red;
  border: none;
  padding: 0px;
  vertical-align: middle;
}
/* line 83, ../../scss/index/widget-right.scss */
.widget-loc .btn {
  margin: 15px 15px 25px;
}
