/* line 3, ../../scss/profile/p-left.scss */
.profile {
  background: white;
  margin-top: 40px;
}

/* line 7, ../../scss/profile/p-left.scss */
.p-left {
  padding-top: 20px;
  border-right: 1px solid #ddd;
}
/* line 10, ../../scss/profile/p-left.scss */
.p-left .p-head {
  text-align: center;
  margin-bottom: 40px;
}
/* line 14, ../../scss/profile/p-left.scss */
.p-left .u-tab {
  width: 130px;
  margin: 10px auto;
  border: 1px solid #ddd;
  padding: 2px;
  color: #999;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 21, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l {
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
/* line 24, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-r {
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
/* line 27, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l, .p-left .u-tab .u-tab-r {
  background: #ddd;
  width: 50%;
  float: left;
  cursor: pointer;
}
/* line 32, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l.selected, .p-left .u-tab .u-tab-r.selected {
  background: red;
  color: white;
}
/* line 40, ../../scss/profile/p-left.scss */
.p-left .menu-list {
  color: #5b5f70;
  font-size: 14px;
}
/* line 43, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item {
  padding: 14px 0px 14px 20px;
  cursor: pointer;
  border: 1px solid white;
  *zoom: 1;
}
/* line 6, ../../scss/base/_mixin.scss */
.p-left .menu-list .menu-item:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 49, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected, .p-left .menu-list .menu-item:hover {
  border: 1px solid #ddd;
  border-left: 5px solid #eba4a5;
  border-right: 1px solid #fff;
  padding: 14px 0px 14px 22px;
  margin-left: -5px;
  margin-right: -1px;
}
/* line 56, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected .pi-center, .p-left .menu-list .menu-item.selected .pi-message, .p-left .menu-list .menu-item.selected .pi-orders, .p-left .menu-list .menu-item.selected .pi-service, .p-left .menu-list .menu-item.selected .pi-data, .p-left .menu-list .menu-item.selected .pi-setting, .p-left .menu-list .menu-item:hover .pi-center, .p-left .menu-list .menu-item:hover .pi-message, .p-left .menu-list .menu-item:hover .pi-orders, .p-left .menu-list .menu-item:hover .pi-service, .p-left .menu-list .menu-item:hover .pi-data, .p-left .menu-list .menu-item:hover .pi-setting {
  background-position-x: -28px;
}
/* line 61, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu {
  padding: 10px 0 10px 0;
}
/* line 64, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li {
  padding: 7px 0px 7px 40px;
  font-size: 12px;
}
/* line 67, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li i {
  float: left;
  width: 3px;
  height: 3px;
  border: 2px solid #ddd;
  margin: 6px 10px 0 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 75, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected, .p-left .menu-list .sub-menu li:hover {
  background: #f0f0f0;
  border: none;
  border-right: 5px solid #e3e3e3;
}
/* line 79, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected i, .p-left .menu-list .sub-menu li:hover i {
  background: #eba4a5;
  border-color: #eba4a5;
}
/* line 85, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-center, .p-left .menu-list .pi-message, .p-left .menu-list .pi-orders, .p-left .menu-list .pi-service, .p-left .menu-list .pi-data, .p-left .menu-list .pi-setting {
  float: left;
  width: 23px;
  height: 22px;
  margin-right: 15px;
  background: url('../../image/profile/p-i.png') no-repeat;
}
/* line 92, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-message {
  background-position: 0 -30px;
}
/* line 95, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-orders {
  background-position: 0 -60px;
}
/* line 98, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-service {
  background-position: 0 -90px;
}
/* line 101, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-data {
  background-position: 0 -120px;
}
/* line 104, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-setting {
  background-position: 0 -150px;
}
