/* line 3, ../../scss/profile/p-left.scss */
.profile {
  background: white;
  margin-top: 40px;
}

/* line 7, ../../scss/profile/p-left.scss */
.p-left {
  padding-top: 20px;
  border-right: 1px solid #ddd;
}
/* line 10, ../../scss/profile/p-left.scss */
.p-left .p-head {
  text-align: center;
  margin-bottom: 40px;
}
/* line 14, ../../scss/profile/p-left.scss */
.p-left .u-tab {
  width: 130px;
  margin: 10px auto;
  border: 1px solid #ddd;
  padding: 2px;
  color: #999;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 21, ../../scss/profile/p-left.scss */
.p-left .u-tab a {
  color: inherit;
}
/* line 23, ../../scss/profile/p-left.scss */
.p-left .u-tab a:hover {
  text-decoration: none;
}
/* line 27, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l {
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
/* line 30, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-r {
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
/* line 33, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l, .p-left .u-tab .u-tab-r {
  background: #ddd;
  width: 50%;
  float: left;
  cursor: pointer;
}
/* line 38, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l.selected, .p-left .u-tab .u-tab-r.selected {
  background: red;
  color: white;
}
/* line 46, ../../scss/profile/p-left.scss */
.p-left .menu-list {
  color: #5b5f70;
  font-size: 14px;
}
/* line 50, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item > a {
  *zoom: 1;
  display: block;
  padding: 14px 0px 14px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-left: none;
  color: inherit;
}
/* line 6, ../../scss/base/_mixin.scss */
.p-left .menu-list .menu-item > a:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 58, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item > a:hover {
  text-decoration: none;
}
/* line 62, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item:hover > a {
  background-color: #F5F5F5;
}
/* line 65, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected > a {
  border: 1px solid #ddd;
  border-left: 5px solid #eba4a5;
  border-right: 1px solid #fff;
  padding: 14px 0px 14px 22px;
  margin-left: -5px;
  margin-right: -1px;
}
/* line 72, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected > a .pi-center, .p-left .menu-list .menu-item.selected > a .pi-message, .p-left .menu-list .menu-item.selected > a .pi-orders, .p-left .menu-list .menu-item.selected > a .pi-service, .p-left .menu-list .menu-item.selected > a .pi-data, .p-left .menu-list .menu-item.selected > a .pi-setting, .p-left .menu-list .menu-item.selected > a .pi-fav {
  background-position-x: -28px;
}
/* line 77, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected .sub-menu {
  display: block;
}
/* line 81, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu {
  padding: 10px 0 10px 0;
  display: none;
}
/* line 85, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li {
  padding: 7px 0px 7px 40px;
  font-size: 12px;
}
/* line 88, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li i {
  float: left;
  width: 3px;
  height: 3px;
  border: 2px solid #ddd;
  margin: 6px 10px 0 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 96, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li a {
  border: none;
}
/* line 99, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected, .p-left .menu-list .sub-menu li:hover {
  background: #f0f0f0;
  border: none;
  border-right: 5px solid #e3e3e3;
}
/* line 103, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected i, .p-left .menu-list .sub-menu li:hover i {
  background: #eba4a5;
  border-color: #eba4a5;
}
/* line 109, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-center, .p-left .menu-list .pi-message, .p-left .menu-list .pi-orders, .p-left .menu-list .pi-service, .p-left .menu-list .pi-data, .p-left .menu-list .pi-setting, .p-left .menu-list .pi-fav {
  float: left;
  width: 23px;
  height: 22px;
  margin-right: 15px;
  background: url('../../image/profile/p-i.png') no-repeat;
}
/* line 116, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-message {
  background-position: 0 -30px;
}
/* line 119, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-orders {
  background-position: 0 -60px;
}
/* line 122, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-service {
  background-position: 0 -90px;
}
/* line 125, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-data {
  background-position: 0 -120px;
}
/* line 128, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-setting {
  background-position: 0 -150px;
}
/* line 131, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-fav {
  background-position: 0 -180px;
}
