/* line 3, ../../scss/profile/p-left.scss */
.profile {
  background: white;
  margin-top: 40px;
}

/* line 7, ../../scss/profile/p-left.scss */
.p-left {
  padding: 20px 0 50px;
  border-right: 1px solid #ddd;
}
/* line 10, ../../scss/profile/p-left.scss */
.p-left .p-head {
  text-align: center;
  margin-bottom: 40px;
}
/* line 14, ../../scss/profile/p-left.scss */
.p-left .u-tab {
  width: 130px;
  margin: 10px auto;
  border: 1px solid #ddd;
  padding: 2px;
  color: #999;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 21, ../../scss/profile/p-left.scss */
.p-left .u-tab a {
  color: inherit;
}
/* line 23, ../../scss/profile/p-left.scss */
.p-left .u-tab a:hover {
  text-decoration: none;
}
/* line 27, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l {
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
/* line 30, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-r {
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
/* line 33, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l, .p-left .u-tab .u-tab-r {
  background: #ddd;
  width: 50%;
  float: left;
  cursor: pointer;
}
/* line 38, ../../scss/profile/p-left.scss */
.p-left .u-tab .u-tab-l.selected, .p-left .u-tab .u-tab-r.selected {
  background: #f85333;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f85333 0%, #e23d1d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f85333), color-stop(100%, #e23d1d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #f85333 0%, #e23d1d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #f85333 0%, #e23d1d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #f85333 0%, #e23d1d 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #f85333 0%, #e23d1d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85333', endColorstr='#e23d1d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: white;
}
/* line 54, ../../scss/profile/p-left.scss */
.p-left .menu-list {
  color: #5b5f70;
  font-size: 14px;
}
/* line 58, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item > a {
  *zoom: 1;
  display: block;
  padding: 14px 0px 14px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-left: none;
  color: inherit;
}
/* line 6, ../../scss/base/_mixin.scss */
.p-left .menu-list .menu-item > a:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 66, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item > a:hover {
  text-decoration: none;
}
/* line 70, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected > a {
  border: 1px solid #ddd;
  border-left: 5px solid #eba4a5;
  border-right: 1px solid #fff;
  padding: 14px 0px 14px 22px;
  font-weight: bold;
  margin-left: -5px;
  margin-right: -1px;
}
/* line 78, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected > a .pi-center, .p-left .menu-list .menu-item.selected > a .pi-message, .p-left .menu-list .menu-item.selected > a .pi-orders, .p-left .menu-list .menu-item.selected > a .pi-service, .p-left .menu-list .menu-item.selected > a .pi-data, .p-left .menu-list .menu-item.selected > a .pi-setting, .p-left .menu-list .menu-item.selected > a .pi-fav, .p-left .menu-list .menu-item.selected > a .pi-reply {
  background-position-x: -28px;
}
/* line 83, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected .sub-menu {
  display: block;
}
/* line 86, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item .i-down-angle {
  display: none;
}
/* line 89, ../../scss/profile/p-left.scss */
.p-left .menu-list .menu-item.selected .i-down-angle {
  display: inline-block;
}
/* line 93, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu {
  display: none;
}
/* line 96, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li a {
  display: block;
  padding: 7px 0px 7px 40px;
}
/* line 100, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li {
  font-size: 12px;
}
/* line 102, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li i {
  float: left;
  width: 3px;
  height: 3px;
  border: 2px solid #ddd;
  margin: 6px 10px 0 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 110, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li a {
  border: none;
  color: #5b5f70;
}
/* line 114, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected {
  background: #f0f0f0;
  border: none;
  border-right: 5px solid #e3e3e3;
}
/* line 118, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected i {
  background: #eba4a5;
  border-color: #eba4a5;
}
/* line 122, ../../scss/profile/p-left.scss */
.p-left .menu-list .sub-menu li.selected a {
  font-weight: bold;
}
/* line 127, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-center, .p-left .menu-list .pi-message, .p-left .menu-list .pi-orders, .p-left .menu-list .pi-service, .p-left .menu-list .pi-data, .p-left .menu-list .pi-setting, .p-left .menu-list .pi-fav, .p-left .menu-list .pi-reply {
  float: left;
  width: 23px;
  height: 22px;
  margin-right: 15px;
  background: url('../../image/profile/p-i.png') no-repeat;
}
/* line 134, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-message {
  background-position: 0 -30px;
}
/* line 137, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-orders {
  background-position: 0 -60px;
}
/* line 140, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-service {
  background-position: 0 -90px;
}
/* line 143, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-data {
  background-position: 0 -120px;
}
/* line 146, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-setting {
  background-position: 0 -150px;
}
/* line 149, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-fav {
  background-position: 0 -180px;
}
/* line 152, ../../scss/profile/p-left.scss */
.p-left .menu-list .pi-reply {
  background-position: 0 -210px;
}
