/* line 5, ../../scss/profile/p-right.scss */
.p-service .program-head {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 10, ../../scss/profile/p-right.scss */
.p-service .program-list {
  width: 100%;
  margin-bottom: 30px;
}
/* line 13, ../../scss/profile/p-right.scss */
.p-service .program-list td {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 18, ../../scss/profile/p-right.scss */
.p-service .program-list .p-index {
  background: #e2e2e2;
  padding: 1px 4px 1px 7px;
  position: relative;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 24, ../../scss/profile/p-right.scss */
.p-service .program-list .p-index:after {
  content: ' ';
  position: absolute;
  border-left: 7px solid #E2E2E2;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  top: 0;
  right: -7px;
}

/* line 38, ../../scss/profile/p-right.scss */
.comment-list {
  border-top: 1px solid #ddd;
}
/* line 40, ../../scss/profile/p-right.scss */
.comment-list .comment-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
/* line 45, ../../scss/profile/p-right.scss */
.comment-list .comment-block {
  padding: 10px 0;
}
/* line 48, ../../scss/profile/p-right.scss */
.comment-list .comment {
  padding: 0 100px 0 90px;
}
/* line 50, ../../scss/profile/p-right.scss */
.comment-list .comment p {
  margin: 0 0 1em;
}

/* line 58, ../../scss/profile/p-right.scss */
.project-form {
  border-top: 1px solid #ddd;
}
/* line 60, ../../scss/profile/p-right.scss */
.project-form select {
  color: #5b5f70;
  margin: 5px 10px 5px 0;
}
/* line 64, ../../scss/profile/p-right.scss */
.project-form .p-meta {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
/* line 68, ../../scss/profile/p-right.scss */
.project-form .p-meta label {
  width: 170px;
  float: left;
}
/* line 72, ../../scss/profile/p-right.scss */
.project-form .p-meta .p {
  padding-left: 170px;
}
/* line 78, ../../scss/profile/p-right.scss */
.project-form .t-list li, .project-form .s-list li {
  float: left;
  width: 25%;
  line-height: 2em;
}
/* line 83, ../../scss/profile/p-right.scss */
.project-form .t-list input, .project-form .s-list input {
  margin-right: 5px;
  vertical-align: middle;
}
/* line 85, ../../scss/profile/p-right.scss */
.project-form .day-tit, .project-form .add-day {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  padding: 5px 10px;
  margin-bottom: 20px;
}
/* line 91, ../../scss/profile/p-right.scss */
.project-form .add-day {
  display: block;
  text-align: center;
}
/* line 96, ../../scss/profile/p-right.scss */
.project-form .form-btn {
  margin-top: 30px;
  text-align: center;
}
/* line 99, ../../scss/profile/p-right.scss */
.project-form .form-btn .btn {
  margin: 0 20px;
  font-size: 16px;
  padding: 7px 30px;
}

/* line 109, ../../scss/profile/p-right.scss */
.p-view .p-meta {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  *zoom: 1;
}
/* line 6, ../../scss/base/_mixin.scss */
.p-view .p-meta:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 113, ../../scss/profile/p-right.scss */
.p-view .p-meta label {
  float: left;
  width: 190px;
}
/* line 118, ../../scss/profile/p-right.scss */
.p-view .p-meta .p-meta-sep {
  margin: 0 5px;
  color: #999;
}
/* line 122, ../../scss/profile/p-right.scss */
.p-view .p-meta .day-desc {
  margin: 20px 0;
}
/* line 126, ../../scss/profile/p-right.scss */
.p-view .btns {
  margin-top: 20px;
}
/* line 128, ../../scss/profile/p-right.scss */
.p-view .btns .btn {
  margin-right: 20px;
}

/* line 135, ../../scss/profile/p-right.scss */
.p-setting {
  color: #5b5f70;
}
/* line 137, ../../scss/profile/p-right.scss */
.p-setting .p-setting-edit {
  display: none;
}
/* line 140, ../../scss/profile/p-right.scss */
.p-setting .p-meta {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  *zoom: 1;
}
/* line 6, ../../scss/base/_mixin.scss */
.p-setting .p-meta:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 144, ../../scss/profile/p-right.scss */
.p-setting .p-meta label {
  float: left;
  width: 190px;
}
