/* line 4, ../../scss/profile/p-right.scss */
.layout-200-780 .layout-l {
  position: relative;
}

/* line 7, ../../scss/profile/p-right.scss */
.layout-200-780 .layout-r {
  padding-left: 20px;
  margin-left: -1px;
  border-left: 1px solid #ddd;
}

/* line 14, ../../scss/profile/p-right.scss */
.p-body {
  padding-bottom: 30px;
}
/* line 16, ../../scss/profile/p-right.scss */
.p-body .user-item {
  padding: 20px 0;
}
/* line 19, ../../scss/profile/p-right.scss */
.p-body .post-item {
  padding: 20px 0 0;
}
/* line 22, ../../scss/profile/p-right.scss */
.p-body .post-item .p-meta {
  padding: 0;
  border-bottom: none;
}
/* line 26, ../../scss/profile/p-right.scss */
.p-body .p-meta {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  *zoom: 1;
}
/* line 6, ../../scss/base/_mixin.scss */
.p-body .p-meta:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 31, ../../scss/profile/p-right.scss */
.p-body .p-meta label {
  width: 170px;
  float: left;
}
/* line 35, ../../scss/profile/p-right.scss */
.p-body .p-meta .p {
  padding-left: 170px;
}
/* line 38, ../../scss/profile/p-right.scss */
.p-body .p-meta .p-meta-sep {
  margin: 0 5px;
  color: #999;
}
/* line 42, ../../scss/profile/p-right.scss */
.p-body .p-meta .day-desc {
  margin: 20px 0;
}

/* line 3, ../../scss/profile/_p-service.scss */
.p-service .project-head {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 8, ../../scss/profile/_p-service.scss */
.p-service .project-list {
  width: 100%;
  margin-bottom: 30px;
}
/* line 11, ../../scss/profile/_p-service.scss */
.p-service .project-list td {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 16, ../../scss/profile/_p-service.scss */
.p-service .project-list .p-index {
  background: #e2e2e2;
  padding: 1px 4px 1px 7px;
  position: relative;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 22, ../../scss/profile/_p-service.scss */
.p-service .project-list .p-index:after {
  content: ' ';
  position: absolute;
  border-left: 7px solid #E2E2E2;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  top: 0;
  right: -7px;
}

/* line 2, ../../scss/profile/_p-detail.scss */
.project-form {
  border-top: 1px solid #ddd;
  padding: 0 0 50px;
}
/* line 5, ../../scss/profile/_p-detail.scss */
.project-form select {
  color: #5b5f70;
  margin: 5px 10px 5px 0;
}
/* line 10, ../../scss/profile/_p-detail.scss */
.project-form .t-list li, .project-form .s-list li {
  float: left;
  width: 25%;
  line-height: 2em;
}
/* line 15, ../../scss/profile/_p-detail.scss */
.project-form .t-list input, .project-form .s-list input {
  margin-right: 5px;
  vertical-align: middle;
}
/* line 17, ../../scss/profile/_p-detail.scss */
.project-form .p-day, .project-form .add-day {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  padding: 5px 10px;
  margin-top: 10px;
}
/* line 23, ../../scss/profile/_p-detail.scss */
.project-form .add-day {
  display: block;
  text-align: center;
}
/* line 28, ../../scss/profile/_p-detail.scss */
.project-form .form-btn {
  margin-top: 30px;
  text-align: center;
}

/* line 2, ../../scss/profile/_p-wishes.scss */
.wish-location {
  float: left;
  padding: 10px;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-bottom: 16px;
}
/* line 8, ../../scss/profile/_p-wishes.scss */
.wish-location:hover {
  border: 1px solid #fd7c7c;
}
/* line 9, ../../scss/profile/_p-wishes.scss */
.wish-location:hover .location {
  color: #fd6e6e;
}
/* line 14, ../../scss/profile/_p-wishes.scss */
.wish-location.odd {
  margin-right: 16px;
}
/* line 17, ../../scss/profile/_p-wishes.scss */
.wish-location a {
  color: #555;
}
/* line 20, ../../scss/profile/_p-wishes.scss */
.wish-location a:hover {
  text-decoration: none;
}
/* line 23, ../../scss/profile/_p-wishes.scss */
.wish-location .location {
  margin: 15px 0 10px;
}
/* line 26, ../../scss/profile/_p-wishes.scss */
.wish-location .i-delete {
  position: absolute;
  right: 2px;
  top: 8px;
  border: 3px solid #FFF;
  border-radius: 20px;
  padding: 0;
  width: 16px;
  background-color: #FFF;
  background-position-x: -2px;
}
/* line 37, ../../scss/profile/_p-wishes.scss */
.wish-location .img-wrap {
  width: 350px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
/* line 43, ../../scss/profile/_p-wishes.scss */
.wish-location .img-wrap img {
  position: absolute;
  top: 50%;
}

/* line 3, ../../scss/profile/_p-metra.scss */
.p-metra .p-meta {
  position: relative;
}
/* line 6, ../../scss/profile/_p-metra.scss */
.p-metra .opts {
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 11, ../../scss/profile/_p-metra.scss */
.p-metra .edit-wrap {
  display: block;
  display: none;
  padding-left: 170px;
}
/* line 16, ../../scss/profile/_p-metra.scss */
.p-metra .edit-btns {
  margin-top: 10px;
}
/* line 20, ../../scss/profile/_p-metra.scss */
.p-metra .p-meta .lang-wrap select {
  margin: 0 10px 10px 0;
}
/* line 23, ../../scss/profile/_p-metra.scss */
.p-metra .p-meta .label-input {
  display: block;
  position: relative;
  width: auto;
  float: none;
  margin: 10px 0;
}
/* line 29, ../../scss/profile/_p-metra.scss */
.p-metra .p-meta .label-input input {
  padding-left: 50px;
  width: 170px;
}
/* line 33, ../../scss/profile/_p-metra.scss */
.p-metra .p-meta .label-input .label-tit {
  width: 50px;
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 34px;
}
/* line 43, ../../scss/profile/_p-metra.scss */
.p-metra .photo-wrap {
  margin-bottom: 20px;
}
/* line 45, ../../scss/profile/_p-metra.scss */
.p-metra .photo-wrap li {
  float: left;
  width: 60px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
/* line 52, ../../scss/profile/_p-metra.scss */
.p-metra .photo-wrap:hover .i-delete {
  display: block;
}
/* line 55, ../../scss/profile/_p-metra.scss */
.p-metra .photo-wrap .i-delete {
  position: absolute;
  display: none;
  top: -1px;
  right: -6px;
}

/* line 52, ../../scss/profile/p-right.scss */
.notice-item {
  border-bottom: 1px solid #ddd;
}

/* line 56, ../../scss/profile/p-right.scss */
.msggroup-list .msg-item {
  cursor: pointer;
}
/* line 58, ../../scss/profile/p-right.scss */
.msggroup-list .msg-item:hover {
  background: #eaf1e4;
}

/* line 62, ../../scss/profile/p-right.scss */
.msg-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
/* line 66, ../../scss/profile/p-right.scss */
.msg-item .msg-head {
  position: relative;
}
/* line 69, ../../scss/profile/p-right.scss */
.msg-item .msg-num {
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #ff5d5d;
  color: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 81, ../../scss/profile/p-right.scss */
.msg-item .msg-right {
  padding: 0 90px;
}
/* line 84, ../../scss/profile/p-right.scss */
.msg-item .msg-content {
  background: #f4f4f4;
  padding: 10px 15px;
  position: relative;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 89, ../../scss/profile/p-right.scss */
.msg-item .msg-content:before {
  content: " ";
  position: absolute;
  left: -15px;
  top: 14px;
  border-top: 10px solid #F4F4F4;
  border-left: 15px solid rgba(0, 0, 0, 0);
}

/* line 100, ../../scss/profile/p-right.scss */
.msg-detail textarea {
  width: 527px;
  height: 100px;
  margin-bottom: 10px;
}
/* line 105, ../../scss/profile/p-right.scss */
.msg-detail .msg-opts {
  display: none;
}
/* line 108, ../../scss/profile/p-right.scss */
.msg-detail .msg-item {
  border-bottom: none;
}
/* line 110, ../../scss/profile/p-right.scss */
.msg-detail .msg-item:hover .msg-opts {
  display: block;
}
/* line 114, ../../scss/profile/p-right.scss */
.msg-detail .msg-box {
  padding: 0 110px;
}
/* line 117, ../../scss/profile/p-right.scss */
.msg-detail .user-head {
  float: left;
}
/* line 121, ../../scss/profile/p-right.scss */
.msg-detail .msg-my .user-head {
  float: right;
}
/* line 124, ../../scss/profile/p-right.scss */
.msg-detail .msg-my .msg-name {
  text-align: right;
}
/* line 127, ../../scss/profile/p-right.scss */
.msg-detail .msg-my .msg-content:before {
  left: auto;
  right: -15px;
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-left: none;
}
/* line 134, ../../scss/profile/p-right.scss */
.msg-detail .msg-metas {
  margin-bottom: 0;
}
/* line 137, ../../scss/profile/p-right.scss */
.msg-detail .msg-name {
  font-size: 16px;
  margin-bottom: 5px;
  color: #393836;
}

/* line 145, ../../scss/profile/p-right.scss */
.reply-list .reply-right {
  padding-left: 90px;
}
/* line 148, ../../scss/profile/p-right.scss */
.reply-list .u-name {
  font-size: 12px;
  color: #0c80a6;
}
/* line 152, ../../scss/profile/p-right.scss */
.reply-list .hover-show {
  display: none;
}
/* line 155, ../../scss/profile/p-right.scss */
.reply-list .reply-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
/* line 159, ../../scss/profile/p-right.scss */
.reply-list .reply-item:hover .hover-show {
  display: inline;
}
/* line 163, ../../scss/profile/p-right.scss */
.reply-list .reply-block {
  padding: 10px 0;
}
/* line 166, ../../scss/profile/p-right.scss */
.reply-list .reply {
  padding: 0 100px 0 90px;
}
/* line 168, ../../scss/profile/p-right.scss */
.reply-list .reply p {
  margin: 0 0 1em;
}

/* line 179, ../../scss/profile/p-right.scss */
.p-view .btns {
  margin-top: 20px;
}
/* line 181, ../../scss/profile/p-right.scss */
.p-view .btns .btn {
  margin-right: 20px;
}

/* line 188, ../../scss/profile/p-right.scss */
.p-setting {
  color: #5b5f70;
}
/* line 190, ../../scss/profile/p-right.scss */
.p-setting .p {
  padding-left: 190px;
}
/* line 193, ../../scss/profile/p-right.scss */
.p-setting .p-setting-edit {
  display: none;
}
/* line 196, ../../scss/profile/p-right.scss */
.p-setting .btns {
  margin-top: 20px;
  text-align: center;
}

/* line 205, ../../scss/profile/p-right.scss */
.p-reply .comments-wrap {
  padding: 10px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
}
/* line 209, ../../scss/profile/p-right.scss */
.p-reply .comments-wrap textarea {
  width: 635px;
}
/* line 212, ../../scss/profile/p-right.scss */
.p-reply .comments-wrap button {
  float: right;
  margin-top: 10px;
}
