{# comment #}
{% import "base/micro.twig" as Micro %}
<li class="comment-item clearfix">
	<div class="fl">
		<img class="bdr100" src="{{USERS[comment.uid].head|url("head" , 36)}}" width="36" height="36" />
	</div>
	<div class="comment-w">
		<p><span class="c999 fr">{{Micro.time( comment.create_time )}}</span><span class="c999">{{USERS[comment.uid].name}}</span> <i class="i-icon i-smsg"></i></p>
		<p class="comment-c">{{comment.content}}</p>
	</div>
</li>