<section class="comment-box">
	<div class="fl">
		<img class="bdr100" src="{{USERS[UID].head|url("head" , 36)}}" width="36" height="36" />
	</div>
	<div class="comment-box-wrap">
		<textarea></textarea>
		<div class="comment-opts">
			<button class="btn btn-green">{{_e('发布')}}</button>
		</div>
	</div>
</section>