<section class="like-to-bar fs16">
	<div class="like-to-inner clearfix">
		<span class="c999"><i class="i-icon i-likebg-to"></i>{{_e('我想去...')}}</span>
		{% for lid in my_like_locations %}
		<a href="/loc/{{lid}}/">{{LOCATIONS[lid].name}}</a>
		{% endfor %}
	</div>
</section>