<nav class="path">
    <a href="/">{{_e('首页')}}</a>
    {% set loc_path=loc.path|merge([LID]) %}
    {% for lid in loc_path %}
        {% if loop.index >=2 %}
        <span>→</span>
        <a href="/loc/{{lid}}/" num="{{_e('#[num]个乐陪',{num:LOCATIONS[lid].counts.dipei+0})}}">{{LOCATIONS[lid].name}}</a>
        {% endif %}
    {% endfor %}
</nav>