.lpn_wrapper{
  border: 1px solid #3bc9a7;
  background: white;
  position:relative;
  text-align:left;
        border-radius: 4px;
   -moz-border-radius: 4px;

     -moz-box-shadow    : 0px 0px 3px 1px #08D1A1;
       -o-box-shadow    : 0px 0px 3px 1px #08D1A1;
      -ms-box-shadow    : 0px 0px 3px 1px #08D1A1;
  -webkit-box-shadow    : 0px 0px 3px 1px #08D1A1;
          box-shadow    : 0px 0px 3px 1px #08D1A1;
}
.lpn_wrapper .lpn_close {
  display: inline-block;
  background: url('panel.png') no-repeat;
  vertical-align: middle;
  margin: 3px 4px 0;
  width: 16px;
  height: 16px;
}
.lpn_wrapper .hd {
    font-weight:normal;
    font-size:14px;
    background:#F7F7F7;
    height:30px;
    line-height:30px;
    padding-top:0;
    padding-bottom:0;
    border-bottom-width:0px;
    padding-left:10px;
    color: #555;
        border-radius: 4px;
   -moz-border-radius: 4px;
  }
.lpn_wrapper a.lpn_close:hover {text-decoration:none; }
.lpn_wrapper .ft{background:white;border-top-width:0px;border-radius:4px;-moz-border-radius:4px;}
.lpn_wrapper .lpn_button_group {text-align:center;padding:5px 0px 10px 0px;}
.lpn_wrapper .lpn_button_group button {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px;
    color: white;
    border: none;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: microsoft yahei;
    background: #08D1A1;
    -webkit-text-shadow: 1px 1px 2px black;
       -moz-text-shadow: 1px 1px 2px black;
         -o-text-shadow: 1px 1px 2px black;
        -ms-text-shadow: 1px 1px 2px black;
            text-shadow: 1px 1px 2px black;
    -moz-border-radius: 4px;
         border-radius: 4px;
  }
.lpn_wrapper .lpn_button_group button:hover{background: #00A77F;}


.lpn_canvas{overflow:visible; min-width: 50px;min-height: 20px;}
.lpn_panel iframe{overflow:hidden;}
.lpn_panel .lpn_wrapper .lpn_canvas .bd{padding:0;}
.lpn_ctrl_group {position:absolute;overflow:hidden;top:3px;right:5px;}
.lpn_ctrl_group a {display:block;float:right;text-decoration:none; text-align:center; font-size:12px; }

.panel_clear .lpn_wrapper .hd { display: none; }
.panel_clear .lpn_wrapper a.lpn_close {display: block; position: absolute; right: 0; top: 11px; cursor: pointer; width: 42px; height: 42px; }
.panel_clear .lpn_wrapper a.lpn_close:hover {background:none; text-decoration:none; }

/* Base */
.lpn_mask {
    text-align : center;
    white-space: nowrap;
    position   : fixed;
    top        : 0;
    left       : 0;
    background : rgba(0,0,0,0.4);
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000);

    _position : absolute;
    _top  : expression( ( ignoreMe  = document.documentElement.scrollTop  ) + 'px' );
    _left : expression( ( ignoreMe2 = document.documentElement.scrollLeft ) + 'px' );
}

.lpn_mask_tr {
    background : rgba(0,0,0,0);
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
}

span.lpn_ghost {
    display       : inline-block;
    height        : 100%;
    vertical-align: middle;
    margin-right  : -0.25em; /* Adjusts for spacing */
}

.lpn_panel {
  display       : inline-block;
  vertical-align: middle;
  *zoom         : 1;
  *display      : inline;
  padding       : 4px;
  border-radius : 4px;
  white-space   : normal;

}

.panel_clear {
  display       : inline-block;
  vertical-align: middle;
  *zoom         : 1;
  *display      : inline;
  white-space   : normal;
  position      : relative;
}

.lpn_load {
  background: url("loading.gif") no-repeat scroll 0 0 transparent;
  left: 50%;
  margin: 10px 0 0 -16px;
  position: relative;
  top: 50%;
  line-height: 101px;
  height: 50px;
  width: 200px;
}

.lpn_wrapper .systemInfos .infos{margin:20px;}
/*
 * for alert style
 */
.infos_warn{
  background: url(panel.png) no-repeat 0 -20px;
  padding-left: 20px;
}
/*
 * for msg send style
 */
.send-msg-panel{
  padding: 20px;
}
.send-msg-panel textarea{
  width: 300px;
  height: 80px;
}