.btn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 9px 18px;
    color: white;
    border: none;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    cursor: pointer;
    background: #ccc;
    @include border-radius(4px);
    //@include text-shadow(1px 1px 1px #333);
    &:hover{
        background: #aaa;
        text-decoration: none;
    };
}
.btn-pink{
    background-color: #fd6e6e;
    &:hover{
        background-color: #e55757;
    };
}

.btn-green{
    background-color: #08d1a1;
    &:hover{
        background-color: #00a77f;
    };
}
.btn-lpink{
    background-color: #ffa978;
    &:hover{
        background-color: #f96f20;
    };
}
.btn-red{
    background-color: #f55030;
    &:hover{
        background-color: #fe2900;
    };
}
