@import "base/mixin";
.dropdown-menu {
  position: absolute;
  color: #555;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  list-style: none;
  line-height: 1.5em;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  //@include border-radius(6px);
  //@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));
  .drop-tit{
    padding: 5px 10px;
    background: #f4f4f4;
  }
  .dropdown-menu-inner{
    padding: 5px 0;
  }
  li a{
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    @include clearfix;
    &:hover{
      background-color: #e55757;
      //@include linear-gradient(#08C , #0077B3);

      text-decoration: none;
      color: white;
    };
  }
  &:after{
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
  .divider{
    height: 1px;
    margin: 4px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
  }
}
.dropdown-gray:after{
  border-bottom: 6px solid #ddd;
}