input[type="text"],input[type="checkbox"] ,input[type="email"],input[type="password"], .input-style{
    background: white;
    border: 1px solid #bbb;
    padding: 9px;
    vertical-align: middle;
    outline: none;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.2));
    @include border-radius(4px);

    &.nor{
        @include box-shadow(none);
    }
}
input[disabled]{
    background: rgb(216, 216, 216);
}
select{
    min-width: 80px;
    padding: 8px 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.2));
}
textarea{
    resize: none;
    border: 1px solid #ccc;
    padding: 5px;
    outline: none;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.2));
    @include border-radius(4px);
}
.input-widget,.select-widget{
    border: 1px solid #9E9E9E;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    height: 33px;
    display: block;
    position: relative;
    /*
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    */
    @include linear-gradient(#e4e6e7,#eff1f2);
    @include border-radius(4px);

    input{
        border: none;
        background: none;
        position: absolute;
        //width: 95%;
        padding: 0;
        right: 31px;
        left: 0;
        height: 30px;
        float: left;
        margin: 1px 10px;
        /*
        display: -webkit-box;
        display: -ms-box;
        display: -moz-box;
        display: -o-box;
        display: box;
        @include box-flex(1);
        */
        &:focus{
            outline: none;
        };
    }
    span.input-val{
        float: left;
        height: 100%;
        line-height: 32px;
        margin-left: 10px;
    }
    .input-angle{
        border-top: 1px solid #CECECE;
        top: -1px;
        text-align: center;
        position: absolute;
        right: 0;
        cursor: pointer;
        width: 31px;
        border-left: 1px solid #bebebe;
        height: 100%;
    }
    .i-date{
        background-position: 7px -46px;
    }

    .dropdown-menu:after{
        display: none;
    }
}
.select-widget{
    border: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

input.input-widget2{
    border: 1px solid #999;
    padding: 0 10px;
    height: 31px;

    @include border-radius(4px);
    &:focus{
        @include box-shadow(0px 0px 8px 1px #999);
    };
}

.normal-input{
    @include box-shadow(none);
}