/* line 3, ../../scss/auth/steps.scss */
.auth-main {
  width: 780px;
  margin: 0 auto;
}

/* line 10, ../../scss/auth/steps.scss */
.auth-steps {
  margin: 0 0 30px 30px;
}
/* line 12, ../../scss/auth/steps.scss */
.auth-steps li {
  float: left;
  margin-right: 30px;
  color: #ccc;
}
/* line 16, ../../scss/auth/steps.scss */
.auth-steps li p {
  margin: 0.6em 0 0;
}
/* line 18, ../../scss/auth/steps.scss */
.auth-steps .selected {
  color: #fd6e6e;
}
/* line 21, ../../scss/auth/steps.scss */
.auth-steps .auth-sep {
  width: 11px;
  height: 22px;
  background: url('../../image/sprite.png') no-repeat;
  margin: 25px 20px 0 40px;
}

/* line 28, ../../scss/auth/steps.scss */
.auth-con {
  padding: 20px 30px;
  background: white;
  -moz-box-shadow: 1px 1px 1px 1px #e6e6e6;
  -webkit-box-shadow: 1px 1px 1px 1px #e6e6e6;
  box-shadow: 1px 1px 1px 1px #e6e6e6;
}

/* line 34, ../../scss/auth/steps.scss */
.step-title {
  line-height: 2.3em;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* line 40, ../../scss/auth/steps.scss */
.step-con table {
  margin: 10px 0;
  width: 100%;
}
/* line 44, ../../scss/auth/steps.scss */
.step-con td {
  padding: 5px 0;
  vertical-align: top;
}
/* line 48, ../../scss/auth/steps.scss */
.step-con select {
  margin: 5px 7px 5px 0;
}
/* line 51, ../../scss/auth/steps.scss */
.step-con .w220 {
  width: 220px;
}
/* line 54, ../../scss/auth/steps.scss */
.step-con .agreement {
  padding: 20px 0 30px;
  line-height: 2.3em;
  border-bottom: 1px solid #ddd;
}
/* line 58, ../../scss/auth/steps.scss */
.step-con .agreement input {
  vertical-align: middle;
}
/* line 62, ../../scss/auth/steps.scss */
.step-con .label-input {
  display: block;
  position: relative;
  margin: 10px 0;
}
/* line 66, ../../scss/auth/steps.scss */
.step-con .label-input input {
  padding-left: 50px;
  width: 170px;
}
/* line 70, ../../scss/auth/steps.scss */
.step-con .label-input span {
  width: 50px;
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 34px;
}

/* line 79, ../../scss/auth/steps.scss */
.form-btn {
  margin: 40px;
  text-align: center;
}
/* line 82, ../../scss/auth/steps.scss */
.form-btn .btn {
  width: 200px;
}

/* line 88, ../../scss/auth/steps.scss */
.step-suc {
  padding: 0 0 20px;
  border-bottom: 1px solid #ddd;
}
/* line 92, ../../scss/auth/steps.scss */
.step-suc .suc-tip {
  width: 45px;
  height: 33px;
  float: left;
  background: url('../../image/sprite.png') no-repeat 0 -30px;
}
/* line 98, ../../scss/auth/steps.scss */
.step-suc .suc-text {
  padding-left: 60px;
}

/* line 102, ../../scss/auth/steps.scss */
.l-help {
  color: #003580;
  padding: 20px 0 0;
}
/* line 105, ../../scss/auth/steps.scss */
.l-help a {
  color: #0896ff;
  font-weight: bold;
  text-decoration: underline;
}
