@import "base/mixin";
.project{
    .p-meta{
        @include clearfix;
        padding: 10px 0;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
        label{
            width: 170px;
            float: left;
        }
        .p{
            padding-left: 170px;
        }
    }

    .t-list , .s-list{
        li{
            float: left;
            width: 25%;
            line-height: 2em;
        }
        input{margin-right:5px;vertical-align: middle;}
    }
    .p-day , .add-day{
        background: #f4f4f4;
        border: 1px dashed #ddd;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    .day-tit{
        margin: 0.2em 0;
    }
    .add-day{
        display: block;
        text-align: center;
    }
    .path-item{
        padding: 5px 20px 5px 5px;
        background: #ddd;
        position: relative;
        margin-right: 5px;
        em{
            position: absolute;
            top: -10px;
            right: 5px;
        }
    }
    .lp-ueditor{
        margin-top: 15px;
    }
}