@import "base/mixin";
@import "base/css3";
.project{
    .p-meta{
        @include clearfix;
        padding: 10px 0;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
        label{
            width: 170px;
            float: left;
        }
        .p{
            padding-left: 170px;
        }
    }

    .t-list , .s-list{
        li{
            float: left;
            width: 25%;
            line-height: 2em;
        }
        input{margin-right:5px;vertical-align: middle;}
    }
    .p-day , .add-day{
        background: #f4f4f4;
        border: 1px dashed #ddd;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    .day-tit{
        margin: 0.2em 0;
    }
    .add-day{
        display: block;
        text-align: center;
    }
    .path-wrap{
        position: relative;
        .path-label{
            position: absolute;
            color: #ddd;
            top: 10px;
            left: 10px;
            pointer-events: none;
        }
    }
    .path-item{
        padding: 5px 11px 5px 5px;
        background: #ddd;
        position: relative;
        margin-right: 5px;
        @include border-radius(4px);
        .i-delete{
            position: absolute;
            width: 16px;
            background-position-x: -2px;
            border: 2px solid white;
            @include border-radius(100px);
            right: -10px;
            top: -8px;
        }
    }
    .lp-ueditor{
        margin-top: 15px;
    }
}