@import "base/css3";
.search {
    padding: 10px 20px 20px;
    line-height: 3em;
    background-color: white;
    color: #999;
    .search-head{
        color: #5b5f70;
        font-size: 20px;
        font-family: microsoft yahei;

        .i-search{margin:0;}
    }
    .input-angle{
        width: 50px;
        background-position: 18px -99px;
        @include border-radius(0 4px 4px 0 );
        @include linear-gradient(#FFF , #f6f6f6);
    }
    .input-why{
        @include linear-gradient(#FFF , #f6f6f6);
    }

    .s-btn{
        float: right;
        font-weight: normal;
        margin-top: 20px;
        padding: 7px 30px;
    }
}