.post-main{
	.post-head{
		font-size: 22px;
		height: 58px;
		line-height: 58px;
		padding-left: 20px;
		border-bottom: 1px solid #e4e4e4;
	}
	.post-body{
		padding: 20px;
	}
	.post-user{
		padding-left: 20px;
	}
	.post-wrap{
		padding-left: 90px;
	}
	h1{
		font-family: microsoft yahei;
		font-size: 16px;
		margin: 0 0 5px;
		color: #0c80a6;
	}
	.post-content{
		margin: 10px 0 20px;
		font-size: 14px;
		line-height: 1.8em;
		color: #666;
	}
	.post-opts{
		text-align: right;
		margin-bottom: 20px;
	}

	.tips{
		background: #f4f4f4;
		padding: 20px;
		p{
			margin:0 0 0.5em;
		}
	}


	// for right widget
	.post-r-head{
		height: 58px;
		line-height: 58px;
		padding-left: 20px;
	}
	.user-list{
		.user-item{
			border-top: 1px solid #e4e4e4;
			padding: 15px 20px;
		}
		p{
			margin: 0;
		}
	}
}

// project
.project-body{
	color: #676767;
	h1{
		color: #31cfdd;
		margin-bottom: 30px;
		font-size: 20px;
	}
	.p-meta{
		.p-meta-t{
			float: left;
			width: 68px;
			padding: 3px 0px;
			text-align: center;
			background: #f4f4f4;
		}
		p{
			padding-left: 85px;
			margin: 3px 0;
		}
		.p-meta-sep{
			margin: 0 10px;
			color: #ddd;
		}
	}
	.p-day{
		margin-bottom: 50px;
	}
}
.project-right{
	.uhead{
		text-align: center;
	}
	.widget-right{
		padding: 20px;
	}
	.post-r-head{
		line-height: 20px;

	}
}
// replys
.replys{
	padding: 0 10px 10px;
	border: 1px solid #e4e4e4;
	.reply-item{
		border-bottom: 1px solid #e4e4e4;
	}
	.reply-w{
		padding-left: 50px;
		padding-right: 10px;
		color: #666;
		.reply-c{
			margin: -0.5em 0 1.5em;
		}
	}

	.reply-box{
		padding: 20px 0;
		.reply-box-wrap{
			padding-left: 50px;
		}
		textarea{
			width: 95%;
			height: 80px;
		}
		.reply-opts{
			text-align: right;
			margin-top: 10px;
			padding-right: 13px;

			.btn{
				padding: 10px 30px;
			}
		}
	}
}