/* line 2, ../../scss/com/search.scss */
.search {
  padding: 10px 20px 20px;
  line-height: 3em;
  background-color: white;
  color: #999;
}
/* line 7, ../../scss/com/search.scss */
.search .search-head {
  color: #5b5f70;
  font-size: 20px;
  font-family: microsoft yahei;
}
/* line 12, ../../scss/com/search.scss */
.search .search-head .i-search {
  margin: 0;
}
/* line 15, ../../scss/com/search.scss */
.search .s-btn {
  float: right;
  margin-top: 20px;
  padding: 7px 30px;
}
