{% extends "base/frame.twig" %}

{% block title %}detail{% endblock %}
{% block content %}
    <section class="layout-260-720">
        {%include "widget/path.twig" with {path_user:USERS[UID]} %}
        <div class="layout-l">
            <!--search-->
            {%include "detail/left.twig" %}
        </div>
        <div class="layout-r">
            {##}
            {% set user=USERS[VUID]%}
            <!--user detail-->
            {%include "detail/user-detail.twig" %}
            <!--program detail-->
            {%include "detail/program.twig" %}
            {%include "detail/notice.twig" %}
            {%include "detail/comment.twig" %}
        </div>
    </section>
    {{ require("pagejs/detail.js") }}
{% endblock %}