{% extends "base/frame.twig" %}

{% block title %}detail{% endblock %}
{% block content %}
    {% set user=USERS[VUID]%}
    <section class="layout-260-720">
        <div>
            <button data-a="fav" data-d="tp=3&oid={{user.id}}" class="fr btn btn-pink"> fav </button>
            {%include "widget/path.twig" with 
                { path_lid: user.lid , path_desc: user.name } %}
        </div>
        <div class="layout-l">
            <!--search-->
            {%include "detail/left.twig" %}
        </div>
        <div class="layout-r">
            <!--user detail-->
            {%include "detail/user-detail.twig" %}
            <!--program detail-->
            {%include "detail/program.twig" %}
            {#
            {%include "detail/notice.twig" %}
            {%include "detail/comment.twig" %}
            #}
        </div>
    </section>
    {{ require("pagejs/detail.js") }}
{% endblock %}