{% include "widget/search/small-search.twig" %}

{# =============================my history========================== #}
{% set hisList = request('_lp','cookie') %}
{% if hisList %}
    {% set hisList = ','|php_explode(hisList) %}
    <section class="my-history mod">
        <div class="mod-h">{{_e('我浏览过的乐陪')}}</div>
        <ul class="mod-c box-s br4">
            {% for uid in hisList %}
                {% include "widget/lepei.twig" with
                    {"user": USERS[uid] ,
                    "show_loc": true ,
                    "show_desc": false ,
                    "show_opt": false } %}
            {% endfor %}
        </ul>
    </section>
{% endif %}

{# ==============================others history========================== #}
{% if otherList %}
    <section class="other-history  mod">
        <div class="mod-h">{{_e('正在浏览TA的人浏览了')}}</div>
        <ul class="mod-c box-s br4">
            {% for uid in otherList %}
                {% include "widget/lepei.twig" with
                    {"user": USERS[uid] ,
                    "show_loc": true ,
                    "show_desc": false ,
                    "show_opt": false } %}
            {% endfor %}
        </ul>
    </section>
{% endif %}

{# ==============================nearby lepei========================== #}
{% if nearbyList %}
    <section class="other-history mod">
        <div class="mod-h">{{_e('附近的乐陪')}}</div>
        <ul class="mod-c box-s br4">
            {% for uid in nearbyList %}
                {% include "widget/lepei.twig" with
                    {"user": USERS[uid] ,
                    "show_loc": true ,
                    "show_desc": false ,
                    "show_opt": false } %}
            {% endfor %}
        </ul>
    </section>
{% endif %}

{{require("pagejs/search.js,com/search.css,detail/left.css")}}