<section class="detail-notice">
    <div class="notice-t">{{_e('notie')}}</div>
    <div class="notice-c">
        <table>
            <tbody>
                <tr>
                    <td class="fs14"><strong>免费取消</strong></td>
                    <td>免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消免费取消</td>
                </tr>
                <tr>
                    <td class="fs14"><strong>免费取消</strong></td>
                    <td>免费取消免费取消免费取消免费取消</td>
                </tr>
                <tr>
                    <td class="fs14"><strong>免费取消</strong></td>
                    <td>免费取消免费取消免费取消免费取消</td>
                </tr>
            </tbody>
        </table>
        <p class="privacy">
            {{_e('please read <a href="/">Privacy Statement</a> and <a href="">Terms and Conditions</a> for more detail.')}}
        </p>
    </div>
</section>
{{require('detail/notice.css')}}