/*
 * compress file:
 * data: June 7, 2013, 4:01 pm
 */
a,b{color:red;background:url(../image/a/c.png?_=1369811032);background:url(../image/logo.png?_=1370592051);background:url(../image/a/c.png?_=1369811032);float:right;}
/*
 * compress file:
 * data: June 7, 2013, 4:01 pm
 */
a,b{color:red;background:url(../image/logo.png?_=1370592051);}
