.i-7{background-position: -32px -16px;}
.i-8{background-position: -160px -16px;}
.i-9{background-position: -176px -160px;}
.i-10{background-position: -48px -176px;}
.i-11{background-position: -128px -16px;}
.i-12{background-position: -192px -48px;}
.i-13{background-position: -48px -48px;}
.i-14{background-position: -96px -48px;}
.i-15{background-position: -0px -96px;}
.i-16{background-position: -128px -32px;}
.i-18{background-position: -0px -240px;}
.i-19{background-position: -192px -128px;}
.i-20{background-position: -64px -224px;}
.i-21{background-position: -144px -80px;}
.i-22{background-position: -192px -96px;}
.i-23{background-position: -224px -0px;}
.i-24{background-position: -192px -160px;}
.i-27{background-position: -176px -64px;}
.i-28{background-position: -48px -112px;}
.i-30{background-position: -160px -128px;}
.i-31{background-position: -208px -128px;}
.i-32{background-position: -144px -160px;}
.i-33{background-position: -0px -192px;}
.i-34{background-position: -48px -224px;}
.i-35{background-position: -144px -224px;}
.i-36{background-position: -64px -240px;}
.i-38{background-position: -224px -144px;}
.i-39{background-position: -64px -0px;}
.i-40{background-position: -16px -64px;}
.i-41{background-position: -112px -64px;}
.i-42{background-position: -0px -80px;}
.i-43{background-position: -48px -80px;}
.i-44{background-position: -192px -240px;}
.i-45{background-position: -112px -32px;}
.i-46{background-position: -32px -112px;}
.i-48{background-position: -192px -112px;}
.i-49{background-position: -48px -128px;}
.i-50{background-position: -176px -128px;}
.i-51{background-position: -0px -208px;}
.i-52{background-position: -64px -144px;}
.i-53{background-position: -128px -144px;}
.i-54{background-position: -16px -160px;}
.i-55{background-position: -112px -192px;}
.i-56{background-position: -112px -208px;}
.i-57{background-position: -0px -224px;}
.i-58{background-position: -80px -224px;}
.i-59{background-position: -176px -240px;}
.i-60{background-position: -176px -0px;}
.i-61{background-position: -192px -160px;}
.i-62{background-position: -0px -32px;}
.i-63{background-position: -208px -160px;}
.i-64{background-position: -192px -16px;}
.i-65{background-position: -0px -64px;}
.i-67{background-position: -0px -48px;}
.i-68{background-position: -208px -80px;}
.i-70{background-position: -96px -240px;}
.i-71{background-position: -16px -240px;}
.i-72{background-position: -208px -32px;}
.i-73{background-position: -128px -96px;}
.i-74{background-position: -0px -16px;}
.i-75{background-position: -112px -16px;}
.i-76{background-position: -48px -96px;}
.i-77{background-position: -16px -176px;}
.i-78{background-position: -160px -48px;}
.i-79{background-position: -32px -80px;}
.i-80{background-position: -128px -176px;}
.i-81{background-position: -208px -64px;}
.i-82{background-position: -192px -64px;}
.i-83{background-position: -208px -144px;}
.i-85{background-position: -128px -112px;}
.i-86{background-position: -0px -128px;}
.i-87{background-position: -80px -160px;}
.i-88{background-position: -160px -208px;}
.i-89{background-position: -176px -208px;}
.i-90{background-position: -176px -224px;}
.i-91{background-position: -80px -208px;}
.i-92{background-position: -80px -80px;}
.i-93{background-position: -32px -96px;}
.i-94{background-position: -176px -96px;}
.i-96{background-position: -176px -16px;}
.i-98{background-position: -224px -160px;}
.i-100{background-position: -96px -32px;}
.i-101{background-position: -96px -128px;}
.i-102{background-position: -80px -128px;}
.i-103{background-position: -96px -144px;}
.i-104{background-position: -176px -144px;}
.i-105{background-position: -208px -96px;}
.i-106{background-position: -48px -192px;}
.i-107{background-position: -96px -208px;}
.i-108{background-position: -16px -224px;}
.i-109{background-position: -96px -224px;}
.i-110{background-position: -144px -192px;}
.i-111{background-position: -96px -96px;}
.i-112{background-position: -64px -96px;}
.i-113{background-position: -160px -96px;}
.i-114{background-position: -0px -112px;}
.i-115{background-position: -112px -240px;}
.i-116{background-position: -224px -32px;}