.i-down-triangle{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    display: inline-block;
    height: 0px;
    width: 0px;
    line-height: 20px;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
}
.i-icon , .i-country{
    display: inline-block;
    background: url(../image/icon.png) no-repeat;
    vertical-align: middle;
    margin: 0 4px;
    width: 16px;
    height: 16px;
}
.i-country{
    background: url(../image/country.png) no-repeat;
}
.i-china{
    width: 22px;
}