.i-down-triangle{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    display: inline-block;
    height: 0px;
    width: 0px;
    line-height: 20px;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
}
//i-icon normal icon
//i-country country icon
//i-u icons about user include online, offline and medal
//i-share share btn
.i-icon , .i-country , .i-u , .i-share{
    display: inline-block;
    background: image-url("icon.png") no-repeat;
    vertical-align: middle;
    margin: 0 4px;
    width: 16px;
    height: 16px;
}

// for normal icon
.i-user{
    width: 20px;
    height: 20px;
}
.i-msg{
    background-position: -31px 0px;
    width: 20px;
    height: 20px;
}
.i-publish{
    background-position: -60px 0px;
    width: 28px;
    height: 26px;
    cursor: pointer;
}
.i-search{
    background-position: 0 -26px;
    width: 20px;
    height: 20px;
}
.i-down-angle{
    background-position: -2px -108px;
}
.i-up-angle{
    background-position: 0 -107px;
}
.i-right-angle{
    background-position: -32px -107px;
}
.i-date{
    background-position: 0 -55px;
    width: 18px;
}
.i-right{
    background-position: 0 -163px;
    width: 18px;
}
.i-delete{
    background-position: 0 -135px;
    width: 20px;
    cursor: pointer;
    &:hover{
        background-position: -29px -135px;
    };
}
.i-remove{
    background-position: 0 -82px;
    width: 20px;
    cursor: pointer;
}
.i-talk{
    background-position: 0 -180px;
    width: 21px;
    height: 20px;
}
.i-like{
    background-position: 0 -220px;
    cursor: pointer;
    width: 27px;
    height: 23px;
    &:hover{
        background-position: -32px -220px;
    };
}
.i-like-to{
    background-position:0 -281px;
    width: 24px;
    height: 19px;
}
.i-likebg-to{
    background-position: -60px -281px;
    width: 28px;
    height: 26px;
}

.i-help{
    background-position: 0 -200px;
    width: 21px;
    height: 17px;
}
.i-reply{
    background-position: 0 -243px;
    width: 20px;
}

.i-v-right{
    background-position: -31px -263px;
}
.i-v-error{
    background-position: 0 -263px;
}
.i-v-msg{
    background-position: -55px -263px;
}

.i-check{
    background-position: -0px -300px;
    width: 17px;
    height: 17px;
}
.i-checked{
    background-position: -32px -300px;
    width: 17px;
    height: 17px;
}

.i-post-2{
    background-position: 0 -320px;
    width: 17px;
    height: 15px;
}
.i-post-1{
    background-position: -20px -320px;
    width: 17px;
    height: 15px;
}
.i-post-3{
    background-position: -40px -320px;
    width: 35px;
    height: 15px;
}
.i-post-b-2{
    background-position: 0 -420px;
    width: 21px;
    height: 22px;
}
.i-post-b-1{
    background-position: -20px -420px;
    width: 22px;
    height: 22px;
}
.i-smsg{
    background-position: 0 -340px;
    width: 17px;
    height: 12px;
}
.i-sfav{
    background-position: 0 -360px;
    width: 17px;
    height: 15px;
}
.i-sview{
    background-position: 0 -380px;
    width: 17px;
    height: 15px;
}
.i-sreply{
    background-position: 0 -400px;
    width: 17px;
    height: 15px;
}
.i-photo{
    background-position: -30px -20px;
    width: 19px;
    height: 17px;
}

// for user
.i-u{background: image-url("iuser.png") no-repeat;}
.i-offline{}
.i-online{background-position: 0 -20px;}




// for country
.i-country{
    background: image-url("country.png") no-repeat;
    height: 11px;
    width: 14px;
}
@import "base/i-country";