
@mixin layout-400-580(){
    .layout-400-580{
        width      : 1000px;
        margin     : 0 auto;


        @include clearfix;
        .layout-l{
            width: 400px;
            float: left;
        }
        .layout-r{
            margin-left: 20px;
            width: 580px;
            float: left;
        }
    }
}
@mixin layout-200-780(){
    .layout-200-780{
        width      : 1000px;
        margin     : 0 auto;
        background : #fff;
        @include clearfix;
        .layout-l{
            width: 200px;
            float: left;
        }
        .layout-r{
            margin-left: 20px;
            width: 760px;
            float: left;
        }
    }
}
@mixin layout-260-720(){
    .layout-260-720{
        width      : 1000px;
        margin     : 0 auto;


        @include clearfix;
        .layout-l{
            width: 260px;
            float: left;
        }
        .layout-r{
            margin-left: 20px;
            width: 720px;
            float: left;
        }
    }
}
@mixin layout-720-260(){
    .layout-720-260{
        width      : 1000px;
        margin     : 0 auto;


        @include clearfix;
        .layout-l{
            width: 720px;
            float: left;
        }
        .layout-r{
            margin-left: 20px;
            width: 260px;
            float: left;
        }
    }
}