{% extends "base/frame.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
{%include "index/top-slider.twig" %}
    <section class="layout-400-580">
        <div class="layout-l">
            <!--search-->
            {%include "widget/search/search.twig" %}
            <!--loc list-->
            {%include "widget/left/loc.twig" %}
            <!--why-->
            {%include "widget/left/why.twig" %}
        </div>
        <div class="layout-r">
            <!--my history-->
            {%include "widget/right/history.twig" %}
            <!-- loc -->
            {% for lid in loc_list %}
                {%include "widget/right/loc.twig" with {loc: LOCATIONS[lid]} %}
            {% endfor %}
        </div>
    </section>
{% endblock %}