{% extends "base/frame.twig" %}

{% block title %}Index{% endblock %}

{% block header %}
    {% include "base/header.twig" %}
{% endblock %}
{% block content %}
    <section class="layout-400-580">
        <div class="layout-l">
            <!--search-->
            {%include "widget/search/search.twig"%}
        </div>
        <div class="layout-r"></div>
    </section>
{% endblock %}
{% block footer %}
    {% include "base/footer.twig" %}
{{ footer }}
{% endblock %}