/*
 * combine file:
 * data: June 5, 2013, 8:49 pm
 */
a{color:red;background:url(image/a/c.png?_=1369811032);background:url(image/logo.png?_=1369621500);}
/*
 * combine file:
 * data: June 5, 2013, 8:49 pm
 */
bcdaaaa{aaaaaaaa:'asdsadasd';}
