{% extends "base/frame.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
    <section class="auth-main">
        {#{% set step = USERS[UID]['auth_status']+1 %}#}
        {% set step = 1 %}
        {% include "auth/steps-head.twig" with {step:step}%}
        <div class="auth-con br4">
            {# for collect template page resources #}
            {% if step == 1 %}
                {% include "auth/step1.twig" %}
            {% elseif step == 2 %}
                {% include "auth/step2.twig" %}
            {% elseif step == 3 %}
                {% include "auth/step3.twig" %}
            {% endif %}
            {{require("pagejs/auth.js")}}
        </div>
    </section>
{% endblock %}