{# project #}
<form action="" id="J_p-form">
    <div class="step-title">
        <strong class="fs14">{{_e('填写乐陪资料')}}</strong><br/>
        <span>{{_e('请以英文或乐陪所使用的语言输入您的全部资料')}}</span>
    </div>
    <div class="step-con">
        {% include "widget/project.twig" %}
    </div>
    <div class="form-btn">
        <button class="btn btn-green">{{_e('下一步')}}</button>
    </div>
</form>