{# project #}
<form action="" id="J_p-form">
    <div class="step-title">
        <strong class="fs14">{{_e('发布一个鲜旅')}}</strong><br/>
        <span>{{_e('一个精彩的本地鲜旅可以吸引到更多游客的预定')}}</span>
    </div>
    <div class="step-con">
        {% include "widget/project.twig" %}
    </div>
    <div class="form-btn">
        <button class="btn btn-green">{{_e('下一步')}}</button>
    </div>
</form>