footer{
    background: #505060;
    margin-top: 30px;
    padding: 20px 0;
    min-width: $siteWidth;
    .footer{
        width: 1000px;
        color: #f4f4f4;
        margin: 0 auto;
    }
    .rss-input{
        width: 245px;
        margin-right: 10px;
    }
    a{
        color: white;
        margin: 0 5px;
        &:hover{
            color: #505060;
            background: white;
        };
        &:first-child{
            margin-left: 0;
        };
    }
}