body>header{position: relative;z-index: 10;}
.index .top-bar{
    @include rgba-bg( #000 , 0.5 , 1);
}
.top-bar{
    min-width: $siteWidth;
    background: #5b5f70;
    margin-bottom: 20px;
    .top-color{
        height: 6px;
        background: image-url("color-bar.png") repeat-x center;
    }
    .logo{margin-top:4px;}
    .top-con{
        width: $siteWidth;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        .top-r{
            height: 100%;
            width: 70%;
            float: right;
            color: white;
        }
        .btn-pub{
            background-color: #fd6e6e;
            @include border-radius(20px);
        }
        .msg-num{
            color: white;
            position: absolute;
            top: 10px;
            right: 16px;
            background: #FF5D5D;
            width: 15px;
            height: 15px;

            line-height: 15px;
            text-align: center;
            @include border-radius(20px);
        }
        .top-r-sep{
            float: right;
            height: 100%;
            width: 1px;
            @include rgba-bg( #fff , 0.2 , 1);
        }
        .top-r-w{
            cursor: pointer;
            float: right;
            position: relative;
            padding: 0 20px;
            height: 100%;
            &:hover{
                @include rgba-bg( #b6bee0 , 0.1 , 1);
            };
            [data-a]{
                cursor: pointer;
            }
            .flag{
                width: 22px;
            }
            img{
                vertical-align: middle;
            }
        }
        .i-down-triangle{
            margin-top: 7px;
        }

        // login
        .top-r-login{
            margin-top: 15px;
            text-align: right;
            color: #999;
            a{
                color: white;
                &:hover{
                    color: #5B5F70;
                    background: white;
                }
            }
        }
    }

    // money list
    .money-list{
        .symbol{
            float: left;
            width: 40px;
        }
    }
}

div.login-wrap{
    width: 520px;
    right: 0px;
    left: auto;
    &:after{
        right: 50px;
        left: auto;
    }

    .loading{
        display: block;
        margin: 10px auto;
    }
}
