.top{
    min-width: $siteWidth;
    background: rgba(0,0,0,.5);
    margin-bottom: 20px;
    .top-color{
        height: 6px;
        background: image-url("color-bar.png") repeat-x center;
    }
    .logo{margin-top:4px;}
    .top-con{
        width: $siteWidth;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        .top-r{
            height: 100%;
            float: right;
            color: white;
        }
        .btn-pub{
            background-color: #fd6e6e;
            @include border-radius(20px);
        }
        .msg-num{
            position: absolute;
            top: 10px;
            right: 16px;
            background: #FF5D5D;
            width: 15px;
            height: 15px;

            line-height: 15px;
            text-align: center;
            @include border-radius(20px);
        }
        .top-r-sep{
            float: right;
            height: 100%;
            width: 1px;
            background: rgba( 255,255,255,.2 );
        }
        .top-r-w{
            cursor: pointer;
            float: right;
            position: relative;
            padding: 0 20px;

            &:hover{
                background: rgba( 255 , 255 , 255 , 0.1 );
            };
        }
        .i-down-triangle{
            margin-top: 7px;
        }

        // login
        .top-r-login{
            margin-top: 15px;
            text-align: right;
            color: #999;
            a{
                color: white;
                &:hover{
                    color: #5B5F70;
                    background: white;
                }
            }
        }
    }

    // money list
    .money-list{
        .symbol{
            float: left;
            width: 40px;
        }
    }
}
