/* line 2, ../../scss/post/post.scss */
.post-main .post-head {
  font-size: 22px;
  height: 58px;
  line-height: 58px;
  padding-left: 20px;
  border-bottom: 1px solid #e4e4e4;
}
/* line 9, ../../scss/post/post.scss */
.post-main .post-body {
  padding: 20px;
}
/* line 12, ../../scss/post/post.scss */
.post-main .post-user {
  padding-left: 20px;
}
/* line 15, ../../scss/post/post.scss */
.post-main .post-wrap {
  padding-left: 90px;
}
/* line 18, ../../scss/post/post.scss */
.post-main h1 {
  font-family: microsoft yahei;
  font-size: 16px;
  margin: 0 0 5px;
  color: #0c80a6;
}
/* line 24, ../../scss/post/post.scss */
.post-main .post-content {
  margin: 10px 0 20px;
  font-size: 14px;
  line-height: 1.8em;
  color: #666;
}
/* line 30, ../../scss/post/post.scss */
.post-main .post-opts {
  text-align: right;
  margin-bottom: 20px;
}
/* line 35, ../../scss/post/post.scss */
.post-main .tips {
  background: #f4f4f4;
  padding: 20px;
}
/* line 38, ../../scss/post/post.scss */
.post-main .tips p {
  margin: 0 0 0.5em;
}
/* line 45, ../../scss/post/post.scss */
.post-main .post-r-head {
  height: 58px;
  line-height: 58px;
  padding-left: 20px;
}
/* line 51, ../../scss/post/post.scss */
.post-main .user-list .user-item {
  border-top: 1px solid #e4e4e4;
  padding: 15px 20px;
}
/* line 55, ../../scss/post/post.scss */
.post-main .user-list p {
  margin: 0;
}

/* line 62, ../../scss/post/post.scss */
.project-body {
  color: #676767;
}
/* line 64, ../../scss/post/post.scss */
.project-body h1 {
  color: #31cfdd;
  margin-bottom: 30px;
  font-size: 20px;
}
/* line 70, ../../scss/post/post.scss */
.project-body .p-meta .p-meta-t {
  float: left;
  width: 68px;
  padding: 3px 0px;
  text-align: center;
  background: #f4f4f4;
}
/* line 77, ../../scss/post/post.scss */
.project-body .p-meta p {
  padding-left: 85px;
  margin: 3px 0;
}
/* line 81, ../../scss/post/post.scss */
.project-body .p-meta .p-meta-sep {
  margin: 0 10px;
  color: #ddd;
}
/* line 86, ../../scss/post/post.scss */
.project-body .p-day {
  margin-bottom: 50px;
}

/* line 91, ../../scss/post/post.scss */
.project-right .uhead {
  text-align: center;
}
/* line 94, ../../scss/post/post.scss */
.project-right .widget-right {
  padding: 20px;
}
/* line 97, ../../scss/post/post.scss */
.project-right .post-r-head {
  line-height: 20px;
}

/* line 103, ../../scss/post/post.scss */
.replys {
  padding: 0 10px 10px;
  border: 1px solid #e4e4e4;
}
/* line 106, ../../scss/post/post.scss */
.replys .reply-item {
  border-bottom: 1px solid #e4e4e4;
}
/* line 109, ../../scss/post/post.scss */
.replys .reply-w {
  padding-left: 50px;
  padding-right: 10px;
  color: #666;
}
/* line 113, ../../scss/post/post.scss */
.replys .reply-w .reply-c {
  margin: -0.5em 0 1.5em;
}
/* line 118, ../../scss/post/post.scss */
.replys .reply-box {
  padding: 20px 0;
}
/* line 120, ../../scss/post/post.scss */
.replys .reply-box .reply-box-wrap {
  padding-left: 50px;
}
/* line 123, ../../scss/post/post.scss */
.replys .reply-box textarea {
  width: 95%;
  height: 80px;
}
/* line 127, ../../scss/post/post.scss */
.replys .reply-box .reply-opts {
  text-align: right;
  margin-top: 10px;
  padding-right: 13px;
}
/* line 132, ../../scss/post/post.scss */
.replys .reply-box .reply-opts .btn {
  padding: 10px 30px;
}
