/* line 2, ../../scss/post/post.scss */
.widget-right {
  padding: 20px;
}

/* line 5, ../../scss/post/post.scss */
.post-r-head {
  line-height: 20px;
  margin-bottom: 20px;
}

/* line 11, ../../scss/post/post.scss */
.post-main .post-body {
  padding: 20px;
}
/* line 14, ../../scss/post/post.scss */
.post-main .post-user {
  padding-left: 20px;
}
/* line 17, ../../scss/post/post.scss */
.post-main .post-wrap {
  padding-left: 90px;
}
/* line 20, ../../scss/post/post.scss */
.post-main h1 {
  font-family: microsoft yahei;
  font-size: 16px;
  margin: 0 0 5px;
}
/* line 25, ../../scss/post/post.scss */
.post-main .post-content {
  margin: 10px 0 20px;
  font-size: 14px;
  line-height: 1.8em;
  color: #666;
}
/* line 31, ../../scss/post/post.scss */
.post-main .post-opts {
  text-align: right;
  margin: 20px 0;
}
/* line 36, ../../scss/post/post.scss */
.post-main .tips {
  background: #f4f4f4;
  padding: 20px;
}
/* line 39, ../../scss/post/post.scss */
.post-main .tips p {
  margin: 0 0 0.5em;
}
/* line 47, ../../scss/post/post.scss */
.post-main .user-list .user-item {
  border-top: 1px solid #e4e4e4;
  margin: 0 -20px;
  padding: 15px 20px;
}
/* line 52, ../../scss/post/post.scss */
.post-main .user-list p {
  margin: 0;
}

/* line 59, ../../scss/post/post.scss */
.project-body {
  color: #676767;
}
/* line 61, ../../scss/post/post.scss */
.project-body h1 {
  margin-bottom: 30px;
  font-size: 20px;
}
/* line 66, ../../scss/post/post.scss */
.project-body .p-meta {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  *zoom: 1;
}
/* line 6, ../../scss/base/_mixin.scss */
.project-body .p-meta:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
/* line 71, ../../scss/post/post.scss */
.project-body .p-meta label {
  width: 170px;
  float: left;
}
/* line 75, ../../scss/post/post.scss */
.project-body .p-meta .p {
  padding: 0 60px 0 170px;
}
/* line 78, ../../scss/post/post.scss */
.project-body .p-meta .p-meta-sep {
  margin: 0 5px;
  color: #999;
}
/* line 82, ../../scss/post/post.scss */
.project-body .p-meta .day-desc {
  margin: 20px 0;
}
/* line 87, ../../scss/post/post.scss */
.project-body .p-day {
  margin-bottom: 50px;
}

/* line 92, ../../scss/post/post.scss */
.project-right .price-num {
  font-size: 20px;
  color: #fd6e6e;
}
/* line 96, ../../scss/post/post.scss */
.project-right .uhead {
  text-align: center;
}
/* line 99, ../../scss/post/post.scss */
.project-right .sep {
  margin: 0 -20px;
}

/* line 104, ../../scss/post/post.scss */
.replys {
  padding: 0 10px 10px;
  border: 1px solid #e4e4e4;
}
/* line 107, ../../scss/post/post.scss */
.replys .reply-item {
  border-bottom: 1px solid #e4e4e4;
}
/* line 110, ../../scss/post/post.scss */
.replys .reply-left {
  padding-left: 45px;
}
/* line 113, ../../scss/post/post.scss */
.replys .reply-w {
  padding-left: 50px;
  padding-right: 10px;
  color: #666;
}
/* line 117, ../../scss/post/post.scss */
.replys .reply-w .reply-c {
  margin: -0.5em 0 1.5em;
}
/* line 122, ../../scss/post/post.scss */
.replys .reply-box {
  padding: 20px 0;
}
/* line 124, ../../scss/post/post.scss */
.replys .reply-box .reply-box-wrap {
  padding-left: 50px;
}
/* line 127, ../../scss/post/post.scss */
.replys .reply-box textarea {
  width: 583px;
  height: 80px;
}
/* line 131, ../../scss/post/post.scss */
.replys .reply-box .reply-opts {
  text-align: right;
  margin-top: 10px;
  padding-right: 13px;
}
/* line 136, ../../scss/post/post.scss */
.replys .reply-box .reply-opts .btn {
  padding: 10px 30px;
}
