<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}lepei{% endblock %}</title>
        {# render base css , this is base file for all site #}
        {{ sta( 'base.css') }}

        {# include follow base css  #}
        {% block head %}
        {{ sta( page_css_list )}}
        {% endblock %}

        {# render base js, this is base js file for the whole site #}
        {{ sta( 'lib/sea.js,config.js,base.js' ) }}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
        {# render page js and pass server var to js #}
        {{renderPageJs()}}
    </body>
</html>